<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>

<div th:replace="header :: head-nav"></div>

<div id="wrapper">
  <div th:replace="menu :: menu('delivery')"></div>

  <div class="container-fluid" id="pcont">

    <div class="page-head clearfix">
      <h3 class="pull-left">Deliveries</h3>
      <a sec:authorize="hasRole('ROLE_DELIVERY_VIEW')" th:href="@{/delivery/search}" class="btn btn-warning pull-right"><i class="fa fa-list"></i> Delivery List</a>
    </div>

    <div class="mcont">

      <div class="row">
        <div class="col-sm-12">

          <div class="block-flat" th:object="${delivery}">
            <div class="header">
              <h3>Delivery #<span th:text="${delivery.id}"></span></h3>
            </div>
            <div class="content">
              <dl class="dl-horizontal">
                <dt>Ticket #</dt>
                <dd th:text="${delivery.ticketNumber}"></dd>
                <dt>Date Created</dt>
                <dd th:text="${delivery.dateTimeCreated}"></dd>
                <dt>Production Ticket #</dt>
                <dd th:text="${delivery.productionTicketNumber}"></dd>
                <dt>Target Date</dt>
                <dd th:text="${delivery.targetDate}"></dd>
                <dt>Customer Name</dt>
                <dd th:text="${delivery.customerName}"></dd>
                <dt>Item Description</dt>
                <dd><pre th:text="${delivery.description}"></pre></dd>
                <dt>Status</dt>
                <dd th:text="${delivery.processStatus}"></dd>
                </dl>
            </div>
            <div class="form-group clearfix">
              <div class="col-sm-12 text-center">
                <a th:href="@{/delivery/search}" class="btn btn-default btn-s-md"><i class="fa fa-arrow-left"></i> Back to List</a>
                <a sec:authorize="hasRole('ROLE_DELIVERY_EDIT')" th:href="@{'/delivery/edit/'+${delivery.id}}" class="btn btn-danger btn-s-md"><i class="fa fa-pencil"></i> Edit</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<div th:replace="footer :: foot"></div>
</body>
</html>
