<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>

<div th:replace="header :: head-nav"></div>

<div id="wrapper">
  <div th:replace="menu :: menu('delivery')"></div>

  <div class="container-fluid" id="pcont">

    <div class="page-head clearfix">
      <h3 class="pull-left">Deliveries</h3>
      <a sec:authorize="hasRole('ROLE_DELIVERY_VIEW')" th:href="@{/delivery/search}" class="btn btn-warning pull-right"><i class="fa fa-list"></i> Delivery List</a>
    </div>

    <div class="mcont">
      <div class="row">
        <div class="col-sm-12">
          <div class="block-flat">
            <div class="header">
              <h4>Delivery Form</h4>
            </div>
            <div class="content">
              <form class="form-horizontal group-border-dashed" th:object="${delivery}"
                    th:action="@{/delivery/save}" method="POST" th:autocomplete="off">
                <input type="hidden" th:field="*{id}" th:value="${delivery.id}"/>
                <input type="hidden" th:field="*{version}" th:value="${delivery.version}"/>
                <div id="ticket-number" class="form-group hide">
                  <label class="col-sm-3 control-label">Ticket #</label>
                  <div class="col-sm-3">
                    <p class="form-control-static" th:text="${delivery.ticketNumber}"></p>
                    <input th:field="*{ticketNumber}" th:value="${delivery.ticketNumber}" type="hidden"
                           class="form-control"/>
                  </div>
                </div>
                <div id="date-created" class="form-group hide">
                  <label class="col-sm-3 control-label">Date Created</label>
                  <div class="col-sm-3">
                    <p class="form-control-static" th:text="${delivery.dateTimeCreated}"></p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Production Ticket #</label>
                  <div class="col-sm-3">
                    <input th:field="*{productionTicketNumber}"  th:readonly="${delivery.processStatus == 'COMPLETED'}" th:value="${delivery.productionTicketNumber}" type="text"
                           class="form-control"/>
                  </div>
                </div>
                <div class="form-group req">
                  <label class="col-sm-3 control-label">Sales Invoice #</label>
                  <div class="col-sm-3">
                    <input type="text" th:field="*{invoiceNumber}"  th:readonly="${delivery.processStatus == 'COMPLETED'}" th:value="${delivery.invoiceNumber}"
                           class="form-control" th:required="true"/>
                  </div>
                </div>
                <div class="form-group req">
                  <label class="col-sm-3 control-label">Target Date</label>
                  <div class="col-sm-3">
                    <input th:field="*{targetDate}" th:readonly="${delivery.processStatus == 'COMPLETED'}" th:value="${delivery.targetDate}" type="text"
                           class="form-control datetimepicker" th:required="true"/>
                  </div>
                </div>
                <div class="form-group req">
                  <label class="col-sm-3 control-label">Customer Name</label>
                  <div class="col-sm-4">
                    <input th:field="*{customerName}"  th:readonly="${delivery.processStatus == 'COMPLETED'}" th:value="${delivery.customerName}" type="text"
                           class="form-control" th:required="true"/>
                  </div>
                </div>
                <div class="form-group req">
                  <label class="col-sm-3 control-label">Item Description</label>
                  <div class="col-sm-4">
                    <textarea th:field="*{description}"  th:readonly="${delivery.processStatus == 'COMPLETED'}"   th:value="${delivery.description}"
                              class="form-control" th:required="true"></textarea>
                  </div>
                  <div class="col-sm-1 no-padding">
                    <button id="insert-diameter" class="btn btn-link btn-xs btn-default" type="button">&#216;</button>
                  </div>
                </div>
                <div class="form-group req">
                  <label class="col-sm-3 control-label">Status</label>
                  <div class="col-sm-6">
                    <label class="radio-inline">
                      <input th:field="*{processStatus}" th:disabled="${delivery.processStatus == 'COMPLETED'}"  th:value="PENDING" type="radio"/>
                      Pending</label>
                    <label class="radio-inline">
                      <input th:field="*{processStatus}" th:disabled="${delivery.processStatus == 'COMPLETED'}"  th:value="COMPLETED" type="radio"/>
                      Completed</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-9">
                    <button sec:authorize="hasAnyRole('ROLE_DELIVERY_ADD,ROLE_DELIVERY_EDIT')"  th:disabled="${delivery.processStatus == 'COMPLETED'}"  type="submit" class="btn btn-danger btn-s-md"><i class="fa fa-floppy-o"></i> Save Delivery</button>
                    <a th:href="@{/delivery/search}" class="btn btn-default btn-s-sm"><i class="fa fa-ban"></i> Cancel</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div th:replace="footer :: foot"></div>
<script th:inline="javascript">
  $(function () {
    $('.datetimepicker').datetimepicker({
      format: 'MM-DD-YYYY',
      defaultDate: Date.create().addDays(2).format('{MM}-{dd}-{yyyy}'),
      showClear: true
    });
    if (![[${delivery.id}]]) {
      $('#processStatus1').prop('checked', 'checked');
    } else {
      $('#date-created, #ticket-number').removeClass('hide');
    }
    if ([[${delivery.productionTicketNumber}]]) {
      $('#productionTicketNumber').prop('readonly', 'readonly')
    }
    $("#insert-diameter").on('click', function() {
      var caretPos = document.getElementById('description').selectionStart;
      var textAreaTxt = $('#description').val();
      /*<![CDATA[*/
      $("#description").val(textAreaTxt.substring(0, caretPos) + $('<div>').html('&#216;').text() + textAreaTxt.substring(caretPos));
      /*]]>*/
      $("#description").focus();
    });
  });
</script>

</body>
</html>
