<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>

<div th:replace="header :: head-nav"></div>

<div id="wrapper">
  <div th:replace="menu :: menu('quotation')"></div>

  <div class="container-fluid" id="pcont">

    <div class="page-head clearfix">
      <h3 class="pull-left">Quotations</h3>
      <a sec:authorize="hasRole('ROLE_QUOTATION_ADD')" th:href="@{/quotation/new}" class="btn btn-success pull-right"><i class="fa fa-envelope"></i> New Quote</a>
    </div>

    <div class="mcont">

      <div class="row">
        <div class="col-sm-12">
          <div class="block no-margin-bottom">
            <div class="content no-margin-bottom well">
              <div class="form-inline">
                <div class="form-group no-margin-top">
                  <input type="text" class="form-control" id="ticket-number" placeholder="Ticket #"/>
                </div>
                <div class="form-group no-margin-top">
                  <input type="text" class="form-control" id="customer" placeholder="Customer"/>
                </div>
                <div class="form-group no-margin-top">
                  <input type="text" class="form-control" id="description" placeholder="Description"/>
                </div>
                <div class="form-group no-margin-top">
                  <select class="form-control" id="status" placeholder="Payment Term">
                    <option value="">- Select Ticket Status -</option>
                    <option value="PENDING">Pending</option>
                    <option value="COMPLETED">Completed</option>
                  </select>
                </div>
                <div class="form-group no-margin-top">
                  <input type="text" class="form-control datetimepicker" id="target-from" placeholder="Target From"/>
                </div>
                <div class="form-group no-margin-top">
                  <input type="text" class="form-control datetimepicker" id="target-to" placeholder="Target To"/>
                </div>
                <div class="form-group no-margin-top">
                  <button id="search-quotation-btn" type="button" class="btn btn-primary no-margin-bottom"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">

          <div class="block-flat no-padding">
            <div class="content">
              <table id="quotation-list" class="no-border blue">
                <thead class="no-border">
                <tr>
                  <th><strong>Date Created</strong></th>
                  <th><strong>Quotation #</strong></th>
                  <th><strong>Ticket #</strong></th>
                  <th><strong>Customer</strong></th>
                  <th><strong>Item Description</strong></th>
                  <th><strong>Target Date</strong></th>
                  <th><strong>Amount</strong></th>
                  <th><strong>Status</strong></th>
                  <th class="text-center"><strong>Actions</strong></th>
                </tr>
                </thead>
                <tbody class="no-border-x no-border-y"></tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<div th:replace="footer :: foot"></div>
<script th:inline="javascript">
  $(function () {
    $('.datetimepicker').datetimepicker({
      format: 'MM-DD-YYYY',
      showClear: true
    });

    var quotationTable = $('#quotation-list').dataTable( {
      "bProcessing": true,
      "bServerSide": true,
      "sServerMethod": "GET",
      "sAjaxSource": "/quotation/ajax/search",
      "fnServerParams": function (aoData) {
        aoData.push({ "name": "ticketNumber", "value": $("#ticket-number").val()});
        aoData.push({ "name": "clientName", "value": $("#customer").val()});
        aoData.push({ "name": "description", "value": $('#description').val()});
        aoData.push({ "name": "startDate", "value": $('#target-from').val()});
        aoData.push({ "name": "endDate", "value": $('#target-to').val()});
        aoData.push({ "name": "status", "value": $('#status').val()});
      },
      "columns":[
        {"data":"createdDateTime"},
        {"data":"id"},
        {"data":"ticketNumber"},
        {"data":"customerName"},
        {"data":"itemDescription", "className":"pre"},
        {"data":"targetDate"},
        {"data":"price"},
        {"data":"status"}
      ],
      "lengthMenu": [ [10,50, 100, -1], [10, 50, 100, "All"] ],
      dom: 'Blfrtip',
      buttons: [
        'copyHtml5',
        {
          extend: 'pdfHtml5',
          download: 'open',
          orientation: 'landscape'
        }
      ],
      "aoColumnDefs": [{
        "targets": 0,
        "data": "createdDateTime",
        "mRender": function (data) {
          return Date.create(data).format('{MM}-{dd}-{yyyy} {hh}:{mm}{TT}');
        }
      },{
        "targets": 8,
        "className": 'text-center',
        "mRender": function (data, type, full) {
          var view = [[@{/quotation/view/}]] + full.id;
          var edit = [[@{/quotation/edit/}]] + full.id;
          var deleteUri = '/delete/QUOTATION/'+ full.id;
          var production = [[@{/production/new/}]] + full.ticketNumber;
          var editable = full.editable ? '' : 'hide';
          return '<a data-toggle="tooltip" data-placement="bottom" title="Create Production Ticket" sec:authorize="hasRole('ROLE_PRODUCTION_ADD')" class="label label-success m-r-xs"  href="' + production + '"><i class="fa fa-gear"></i></a> ' +
              '<a  data-placement="bottom" title="View Ticket" sec:authorize="hasRole('ROLE_QUOTATION_VIEW')" class="label label-primary" href="' + view + '"><i class="fa fa-file-text-o"></i></a> ' +
              '<a  data-placement="bottom" title="Edit Ticket" sec:authorize="hasRole('ROLE_QUOTATION_EDIT')" class="label label-warning ' + editable + '" href="' + edit + '"><i class="fa fa-pencil"></i></a> '+
              '<a  data-placement="bottom" title="Delete  Ticket" sec:authorize="hasRole('ROLE_QUOTATION_EDIT')" class="delete-ticket label label-danger' + editable + '" href="' + deleteUri + '"><i class="fa fa-remove"></i></a>'
        }
      },{
        "targets": 6,
        "className": 'text-right',
        "data": "price",
        "mRender": function (data) {
          if(data == null) return 'Not Yet Available';
          return data.format(2);
        }
      },{
        "targets": 5,
        "data": "targetDate",
        "mRender": function (data) {
          return Date.create(data).format('{MM}-{dd}-{yyyy} {hh}:{mm}{TT}');
        }
      }
      ]
    });


    $("#search-quotation-btn").click(function() {
      quotationTable.fnDraw();
    });

    $( "#customer" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "/company/search",
          dataType: "json",
          data: {term: request.term},
          success: function (data) {
            response ($.map(data, function (customer) {
              return {
                label: customer.name,
                value: customer.name
              }
            }))
          }
        });
      },
      minLength: 2,
      change: function (event, ui) {
        if(!ui.item){
          $("#customer").val("");
        }
      }
    });

    $( document ).on( 'click', '.delete-ticket', function(e) {
      e.preventDefault();
      var url = $(this).attr('href');
      deleteTicket(quotationTable,url);
    });
  });
</script>

</body>
</html>
