<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>

<div th:replace="header :: head-nav"></div>

<div id="wrapper">
   <div th:replace="menu :: menu('quotation')"></div>

  <div class="container-fluid" id="pcont">

    <div class="page-head clearfix">
      <h3 class="pull-left">Quotations</h3>
      <a sec:authorize="hasRole('ROLE_QUOTATION_VIEW')" th:href="@{/quotation/search}" class="btn btn-warning pull-right"><i class="fa fa-list"></i> Quotations List</a>
    </div>

    <div class="mcont">
      <div class="row">
        <div class="col-sm-12">
          <div class="block-flat">
            <div class="header">
              <h4>Quotation Form</h4>
            </div>
            <div class="content">

              <form class="form-horizontal group-border-dashed" th:object="${quotation}"
                    th:action="@{/quotation/save}" method="POST" enctype="multipart/form-data" th:autocomplete="off">
                <input type="hidden" th:field="*{id}" th:value="${quotation.id}"/>
                <input type="hidden" th:field="*{version}" th:value="${quotation.version}"/>
                <div id="ticket-number" class="form-group hide">
                  <label class="col-sm-3 control-label">Ticket #</label>
                  <div class="col-sm-3">
                    <p class="form-control-static"  th:readonly="${quotation.status == 'COMPLETED'}" th:text="${quotation.ticketNumber}"></p>
                  </div>
                </div>
                <div id="date-created" class="form-group hide">
                  <label class="col-sm-3 control-label">Date Created</label>
                  <div class="col-sm-3">
                    <p class="form-control-static" th:text="${quotation.createdDateTime}"></p>
                  </div>
                </div>
                <div class="form-group req">
                  <label class="col-sm-3 control-label">Customer Name</label>
                  <div class="col-sm-4">
                    <input th:field="*{customerName}"  th:readonly="${quotation.status == 'COMPLETED'}"  th:value="${quotation.customerName}" type="text"
                           class="form-control" th:required="true"/>
                  </div>
                </div>
                <div class="form-group req">
                  <label class="col-sm-3 control-label">Item Description</label>
                  <div class="col-sm-4">
                    <textarea th:field="*{itemDescription}"  th:readonly="${quotation.status == 'COMPLETED'}"  th:value="${quotation.itemDescription}"
                              class="form-control" th:required="true"></textarea>
                  </div>
                  <div class="col-sm-1 no-padding">
                    <button id="insert-diameter" class="btn btn-link btn-xs btn-default" type="button">&#216;</button>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Amount</label>
                  <div class="col-sm-3">
                    <input th:field="*{price}" th:readonly="${quotation.status == 'COMPLETED'}"  th:value="${quotation.price}" type="number" step="any"
                              class="form-control"/>
                  </div>
                </div>
                <div class="form-group req">
                  <label class="col-sm-3 control-label">Target Date</label>
                  <div class="col-sm-3">
                    <input th:field="*{targetDate}"  th:readonly="${quotation.status == 'COMPLETED'}"  th:value="${quotation.targetDate}" type="text"
                           class="form-control datetimepicker" th:required="true"/>
                  </div>
                </div>
                <div class="form-group req">
                  <label class="col-sm-3 control-label">Status</label>
                  <div class="col-sm-6">
                    <label class="radio-inline">
                      <input th:field="*{status}"  th:disabled="${quotation.status == 'COMPLETED'}"  th:value="PENDING" type="radio"/>
                      Pending</label>
                    <label class="radio-inline">
                      <input th:field="*{status}"  th:disabled="${quotation.status == 'COMPLETED'}" th:value="COMPLETED" type="radio"/>
                      Completed</label>
                  </div>
                </div>
                <div class="form-group" th:if="${quotation.attachments} == null">
                  <label class="col-sm-3 control-label">Attachments</label>
                  <div class="col-sm-4">
                    <input type="file"  th:disabled="${quotation.status == 'COMPLETED'}"  th:multiple="true" name="file" class="form-control"/>
                  </div>
                </div>
                <div class="form-group" th:if="${quotation.attachments} != null">
                  <label class="col-sm-3 control-label">Attachments</label>
                  <div class="col-sm-4">
                    <input type="file"    th:disabled="${quotation.status == 'COMPLETED'}" th:multiple="true" name="file" class="form-control"/>
                    <table class="no-border">
                      <tbody class="no-border-y no-border-x">
                        <tr th:each="attachment : ${quotation.attachments}">
                          <td style="width:90%"><a class="file-attachment-text" th:href="@{'/attachment/' + ${attachment.attachmentMetaDataId}}" th:text="${attachment.fileName}"></a></td>
                          <td><button type="button" th:attr="data-id=${attachment.attachmentMetaDataId}" class="file-attachment-delete btn btn-link btn-xs"><i class="fa fa-times text-danger"></i></button></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-9">
                    <button sec:authorize="hasRole('ROLE_QUOTATION_ADD')" type="submit"   th:disabled="${quotation.status == 'COMPLETED'}" class="btn btn-danger btn-s-md"><i class="fa fa-floppy-o"></i> Save Quotation</button>
                    <a th:href="@{/quotation/search}" class="btn btn-default btn-s-sm"><i class="fa fa-ban"></i> Cancel</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div th:replace="footer :: foot"></div>
<script th:inline="javascript">
  $(function () {
    $('.datetimepicker').datetimepicker({
      format: 'MM-DD-YYYY',
      defaultDate: Date.create().addDays(2).format('{MM}-{dd}-{yyyy}'),
      showClear: true
    });
    if (![[${quotation.id}]]) {
      $('#status1').prop('checked', 'checked');
    } else {
      $('#date-created, #ticket-number').removeClass('hide');
    }
    $('.file-attachment-delete').on('click',function(e) {
      var itemId = $(this).data('id');
      $.get('/attachment/remove/'+itemId);
      $(this).parents('tr').remove();
    });
    $("#insert-diameter").on('click', function() {
      var caretPos = document.getElementById('itemDescription').selectionStart;
      var textAreaTxt = $('#itemDescription').val();
      /*<![CDATA[*/
      $("#itemDescription").val(textAreaTxt.substring(0, caretPos) + $('<div>').html('&#216;').text() + textAreaTxt.substring(caretPos));
      /*]]>*/
      $("#itemDescription").focus();
    });
  });
</script>

</body>
</html>
