<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>

<div th:replace="header :: head-nav"></div>

<div id="wrapper">
  <div th:replace="menu :: menu('quotation')"></div>

  <div class="container-fluid" id="pcont">

    <div class="page-head clearfix">
      <h3 class="pull-left">Quotations</h3>
      <a sec:authorize="hasRole('ROLE_QUOTATION_VIEW')" th:href="@{/quotation/search}" class="btn btn-warning pull-right"><i class="fa fa-list"></i> Quotations List</a>
    </div>

    <div class="mcont">

      <div class="row">
        <div class="col-sm-12">

          <div class="block-flat" th:object="${quotation}">
            <div class="header">
              <h3>Quotation #<span th:text="${quotation.id}"></span></h3>
            </div>
            <div class="content">
              <dl class="dl-horizontal">
                <dt>Ticket #</dt>
                <dd th:text="${quotation.ticketNumber}"></dd>
                <dt>Date Created</dt>
                <dd th:text="${quotation.createdDateTime}"></dd>
                <dt>Customer Name</dt>
                <dd th:text="${quotation.customerName}"></dd>
                <dt>Item Description</dt>
                <dd><pre th:text="${quotation.itemDescription}"></pre></dd>
                <dt>Amount</dt>
                <dd th:if="${quotation.price == null}"></dd>
                <dd th:if="${quotation.price != null}" th:text="${#numbers.formatDecimal(quotation.price, 0, 'COMMA', 2, 'POINT')}"></dd>
                <dt>Target Date</dt>
                <dd th:text="${quotation.targetDate}"></dd>
                <dt>Status</dt>
                <dd th:text="${quotation.status}"></dd>
                <dt>Attachments</dt>
                <dd>
                  <ul class="list-unstyled">
                    <li th:each="attachment : ${quotation.attachments}">
                      <a th:href="@{'/attachment/' + ${attachment.attachmentMetaDataId}}" th:text="${attachment.fileName}"></a>
                    </li>
                  </ul>
                </dd>
              </dl>
            </div>
            <div class="form-group clearfix">
              <div class="col-sm-12 text-center">
                <a th:href="@{/quotation/search}" class="btn btn-default btn-s-md"><i class="fa fa-arrow-left"></i> Back to List</a>
                <a sec:authorize="hasRole('ROLE_QUOTATION_EDIT')" th:href="@{'/quotation/edit/'+${quotation.id}}" class="btn btn-danger btn-s-md"><i class="fa fa-pencil"></i> Edit</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<div th:replace="footer :: foot"></div>
</body>
</html>
