<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>

<div th:replace="header :: head-nav"></div>

<div id="wrapper">
  <div th:replace="menu :: menu('production')"></div>

  <div class="container-fluid" id="pcont">

    <div class="page-head clearfix">
      <h3 class="pull-left">Productions</h3>
      <a sec:authorize="hasRole('ROLE_PRODUCTION_VIEW')" th:href="@{/production/search}" class="btn btn-warning pull-right"><i class="fa fa-list"></i> Productions List</a>
    </div>

    <div class="mcont">

      <div class="row">
        <div class="col-sm-12">

          <div class="block-flat" th:object="${production}">
            <div class="header">
              <h3>Production #<span th:text="${production.id}"></span></h3>
            </div>
            <div class="content">
              <dl class="dl-horizontal">
                <dt>Ticket #</dt>
                <dd th:text="${production.ticketNumber}"></dd>
                <dt>Date Created</dt>
                <dd th:text="${production.dateTimeCreated}"></dd>
                <dt>Target Date</dt>
                <dd th:text="${production.targetDate}"></dd>
                <dt>Purchase #</dt>
                <dd th:text="${production.purchaseNumber}"></dd>
                <dt>PO #</dt>
                <dd th:text="${production.pONumber}"></dd>
                <dt>Job Order #</dt>
                <dd th:text="${production.jobOrderNumber}"></dd>
                <dt>Customer Name</dt>
                <dd th:text="${production.customerName}"></dd>
                <dt>Item Description</dt>
                <dd><pre th:text="${production.description}"></pre></dd>
                <dt>Priority</dt>
                <dd th:text="${production.priority}"></dd>
                <dt>Status</dt>
                <dd th:text="${production.processStatus}"></dd>
                <dt>Attachments</dt>
                <dd>
                  <ul class="list-unstyled">
                    <li th:each="attachment : ${production.attachments}">
                      <a th:href="@{'/attachment/' + ${attachment.attachmentMetaDataId}}" th:text="${attachment.fileName}"></a>
                    </li>
                  </ul>
                </dd>
                </dl>
            </div>
            <div class="form-group clearfix">
              <div class="col-sm-12 text-center">
                <a th:href="@{/production/search}" class="btn btn-default btn-s-md"><i class="fa fa-arrow-left"></i> Back to List</a>
                <a sec:authorize="hasRole('ROLE_PRODUCTION_EDIT')" th:href="@{'/production/edit/'+${production.id}}" class="btn btn-danger btn-s-md"><i class="fa fa-pencil"></i> Edit</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<div th:replace="footer :: foot"></div>
</body>
</html>
