<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>

<div th:replace="header :: head-nav"></div>

<div id="wrapper">
  <div th:replace="menu :: menu('production')"></div>

  <div class="container-fluid" id="pcont">

    <div class="page-head clearfix">
      <h3 class="pull-left">Productions</h3>
      <a sec:authorize="hasRole('ROLE_PRODUCTION_VIEW')" th:href="@{/production/search}" class="btn btn-warning pull-right"><i class="fa fa-list"></i> Production List</a>
    </div>

    <div class="mcont">
      <div class="row">
        <div class="col-sm-12">
          <div class="block-flat">
            <div class="header">
              <h4>Production Form</h4>
            </div>
            <div class="content">
              <form class="form-horizontal group-border-dashed" enctype="multipart/form-data"  th:object="${production}"
                    th:action="@{/production/save}" method="POST" th:autocomplete="off">
                <input type="hidden" th:field="*{id}" th:value="${production.id}"/>
                <input type="hidden" th:field="*{version}" th:value="${production.version}"/>
                <div id="ticket-number" class="form-group hide">
                  <label class="col-sm-3 control-label">Ticket #</label>
                  <div class="col-sm-3">
                    <p class="form-control-static" th:text="${production.ticketNumber}"></p>
                  </div>
                </div>
                <div id="date-created" class="form-group hide">
                  <label class="col-sm-3 control-label">Date Created</label>
                  <div class="col-sm-3">
                    <p class="form-control-static" th:text="${production.dateTimeCreated}"></p>
                  </div>
                </div>
                <div class="form-group req">
                  <label class="col-sm-3 control-label">Target Date</label>
                  <div class="col-sm-3">
                    <input th:field="*{targetDate}"  th:readonly="${production.processStatus == 'COMPLETED'}"  th:value="${production.targetDate}" type="text"
                           class="form-control datetimepicker" th:required="true"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Production Number</label>
                  <div class="col-sm-3">
                    <input type="text" th:field="*{purchaseNumber}" th:readonly="${production.processStatus == 'COMPLETED'}"  th:value="${production.purchaseNumber}"
                           class="form-control" th:required="false"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">PO Number</label>
                  <div class="col-sm-3">
                    <input type="text" th:field="*{pONumber}" th:readonly="${production.processStatus == 'COMPLETED'}"  th:value="${production.pONumber}"
                           class="form-control" th:required="false"/>
                  </div>
                </div>
                <div class="form-group req">
                  <label class="col-sm-3 control-label">Job Order Number</label>
                  <div class="col-sm-3">
                    <input type="text" th:field="*{jobOrderNumber}" th:readonly="${production.processStatus == 'COMPLETED'}"  th:value="${production.jobOrderNumber}"
                           class="form-control" th:required="true"/>
                  </div>
                </div>
                <div class="form-group req">
                  <label class="col-sm-3 control-label">Customer Name</label>
                  <div class="col-sm-4">
                    <input th:field="*{customerName}"  th:readonly="${production.processStatus == 'COMPLETED'}" th:value="${production.customerName}" type="text"
                           class="form-control" th:required="true"/>
                  </div>
                </div>
                <div class="form-group req">
                  <label class="col-sm-3 control-label">Item Description</label>
                  <div class="col-sm-4">
                    <textarea th:field="*{description}" th:readonly="${production.processStatus == 'COMPLETED'}"  th:value="${production.description}"
                              class="form-control" th:required="true"></textarea>
                  </div>
                  <div class="col-sm-1 no-padding">
                    <button id="insert-diameter" class="btn btn-link btn-xs btn-default" type="button">&#216;</button>
                  </div>
                </div>
                <div class="form-group req">
                  <label class="col-sm-3 control-label">Priority</label>
                  <div class="col-sm-3">
                    <select class="form-control" th:required="true" th:readonly="${production.processStatus == 'COMPLETED'}"   th:field="*{priority}">
                      <option value="RUSH">Rush – 1 to 2 days</option>
                      <option value="MAJOR">Major – 3 to 5 days</option>
                      <option value="MINOR">Minor – 6 to 10 days</option>
                    </select>
                  </div>
                </div>
                <div class="form-group req">
                  <label class="col-sm-3 control-label">Status</label>
                  <div class="col-sm-6">
                    <label class="radio-inline">
                      <input th:field="*{processStatus}" th:disabled="${production.processStatus == 'COMPLETED'}"   th:value="PENDING" type="radio"/>
                      Pending</label>
                    <label class="radio-inline">
                      <input th:field="*{processStatus}" th:disabled="${production.processStatus == 'COMPLETED'}"   th:value="COMPLETED" type="radio"/>
                      Completed</label>
                  </div>
                </div>

                <div class="form-group" th:if="${production.attachments} == null">
                  <label class="col-sm-3 control-label">Attachments</label>
                  <div class="col-sm-4">
                    <input type="file"  th:disabled="${production.processStatus == 'COMPLETED'}"  th:multiple="true" name="file" class="form-control"/>
                  </div>
                </div>
                <div class="form-group" th:if="${production.attachments} != null">
                  <label class="col-sm-3 control-label">Attachments</label>
                  <div class="col-sm-4">
                    <input type="file"    th:disabled="${production.processStatus == 'COMPLETED'}" th:multiple="true" name="file" class="form-control"/>
                    <table class="no-border">
                      <tbody class="no-border-y no-border-x">
                      <tr th:each="attachment : ${production.attachments}">
                        <td style="width:90%"><a class="file-attachment-text" th:href="@{'/attachment/' + ${attachment.attachmentMetaDataId}}" th:text="${attachment.fileName}"></a></td>
                        <td><button type="button" th:attr="data-id=${attachment.attachmentMetaDataId}" class="file-attachment-delete btn btn-link btn-xs"><i class="fa fa-times text-danger"></i></button></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-9">
                    <button sec:authorize="hasAnyRole('ROLE_PRODUCTION_ADD,ROLE_PRODUCTION_EDIT')"  th:disabled="${production.processStatus == 'COMPLETED'}"   type="submit" class="btn btn-danger btn-s-md"><i class="fa fa-floppy-o"></i> Save Production</button>
                    <a th:href="@{/production/search}" class="btn btn-default btn-s-sm"><i class="fa fa-ban"></i> Cancel</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div th:replace="footer :: foot"></div>
<script th:inline="javascript">
  $(function () {
    $('.datetimepicker').datetimepicker({
      format: 'MM-DD-YYYY',
      defaultDate: Date.create().addDays(4).format('{MM}-{dd}-{yyyy}'),
      showClear: true
    });
    if (![[${production.id}]]) {
      $('#processStatus1').prop('checked', 'checked');
    } else {
      $('#date-created, #ticket-number').removeClass('hide');
    }
    if ([[${production.purchaseNumber}]]) {
      $('#purchaseNumber').prop('readonly', 'readonly')
    }
    $("#insert-diameter").on('click', function() {
      var caretPos = document.getElementById('description').selectionStart;
      var textAreaTxt = $('#description').val();
      /*<![CDATA[*/
      $("#description").val(textAreaTxt.substring(0, caretPos) + $('<div>').html('&#216;').text() + textAreaTxt.substring(caretPos));
      /*]]>*/
      $("#description").focus();
    });
  });
</script>

</body>
</html>
