<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>

<div th:replace="header :: head-nav"></div>

<div id="wrapper">
    <div th:replace="menu :: menu('user')"></div>

    <div class="container-fluid" id="pcont">

        <div class="page-head clearfix">
            <h3 class="pull-left">Users</h3>
            <a th:href="@{/user/list}" class="btn btn-warning pull-right"><i class="fa fa-list"></i> Users List</a>
        </div>

        <div class="mcont">
            <div class="row">
                <div class="col-sm-12">
                    <div class="block-flat">
                        <div class="header">
                            <h4>Edit Password</h4>
                        </div>
                        <div class="content">
                            <form class="form-horizontal group-border-dashed"
                                  th:action="@{/user/edit-password/save}" method="POST" enctype="multipart/form-data" th:autocomplete="off">

                                <div class="form-group req">
                                    <label class="col-sm-3 control-label">Edit</label>
                                    <div class="col-sm-4">
                                        <input th:field="*{user.username}" th:value="${user.username}" type="text"
                                               class="form-control" th:required="true" />
                                    </div>
                                </div>

                                <div class="form-group req">
                                    <label class="col-sm-3 control-label">Enter Old Password</label>
                                    <div class="col-sm-4">
                                        <input th:field="*{user.oldPassword}" th:value="${user.oldPassword}" type="password"
                                               class="form-control" th:required="true" />
                                    </div>
                                </div>


                                <div class="form-group req">
                                    <label class="col-sm-3 control-label">Enter New Password</label>
                                    <div class="col-sm-4">
                                        <input th:field="*{user.newPassword}" th:value="${user.newPassword}" type="password"
                                               class="form-control" th:required="true" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <button type="submit" class="btn btn-danger btn-s-md"><i class="fa fa-floppy-o"></i>Change Password</button>
                                        <a th:href="@{/user/list}" class="btn btn-default btn-s-sm"><i class="fa fa-ban"></i> Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer :: foot"></div>

</body>
</html>
