<!DOCTYPE html>
<html lang="en">
<head th:replace="header :: head"></head>
<body>

<div th:replace="header :: head-nav"></div>

<div id="wrapper">
  <div th:replace="menu :: menu('user_management')"></div>

  <div class="container-fluid" id="pcont">

    <div class="page-head clearfix">
      <h3 class="pull-left">Users</h3>
      <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/user/new}" class="btn btn-success pull-right"><i class="fa fa-envelope"></i> New User</a>
    </div>

    <div class="mcont">
      <div class="row">
        <div class="col-sm-12">

          <div class="block-flat no-padding">
            <div class="content">
              <table id="user-list" class="no-border blue">
                <thead class="no-border">
                  <tr>
                    <th><strong>Username</strong></th>
                    <th><strong>Name</strong></th>
                    <th class="text-center"><strong>Actions</strong></th>
                  </tr>
                </thead>
                <tbody class="no-border-x no-border-y">
                  <tr th:each="user : ${users}">
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.name.givenName} + ' ' + ${user.name.middleName} + ' ' + ${user.name.familyName}"></td>
                    <td class="text-center">
                      <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'/user/edit/'+${user.username}}" class="label label-warning"><i class="fa fa-pencil"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

</body>
</html>
