<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>

<div th:replace="header :: head-nav"></div>

<div id="wrapper">
  <div th:replace="menu :: menu('user')"></div>

  <div class="container-fluid" id="pcont">

    <div class="page-head clearfix">
      <h3 class="pull-left">Users</h3>
      <a th:href="@{/user/list}" class="btn btn-warning pull-right"><i class="fa fa-list"></i> Users List</a>
    </div>

    <div class="mcont">
      <div class="row">
        <div class="col-sm-12">
          <div class="block-flat">
            <div class="header">
              <h4>User Form</h4>
            </div>
            <div class="content">
              <form class="form-horizontal group-border-dashed"
                    th:action="@{/user/save}" method="POST" enctype="multipart/form-data" th:autocomplete="off">
                <input type="hidden" th:field="*{user.id}" th:value="${user.id}"/>

                <div th:if="${user_name_error != null}" class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  <span th:text="${user_name_error}"></span>
                </div>

                <div class="form-group req">
                  <label class="col-sm-3 control-label">Username</label>
                  <div class="col-sm-4">
                    <input th:field="*{user.username}" th:value="${user.username}" type="text"
                           class="form-control" th:required="true" />
                   </div>
                </div>


                <div th:if="${user.id == null}" class="form-group req">
                  <label class="col-sm-3 control-label">Password</label>
                  <div class="col-sm-4">
                    <input th:field="*{user.password}" th:value="${user.password}" type="password"
                           class="form-control" th:required="true"/>
                  </div>
                </div>

                <div class="form-group req">
                  <label class="col-sm-3 control-label">First Name</label>
                  <div class="col-sm-4">
                    <input th:field="*{user.name.givenName}" th:value="${user.name}" type="text"
                           class="form-control" th:required="true"/>
                  </div>
                </div>

                <div class="form-group req">
                  <label class="col-sm-3 control-label">Middle Name</label>
                  <div class="col-sm-4">
                    <input th:field="*{user.name.middleName}" th:value="${user.name.middleName}" type="text"
                           class="form-control" th:required="true"/>
                  </div>
                </div>

                <div class="form-group req">
                  <label class="col-sm-3 control-label">Last Name</label>
                  <div class="col-sm-4">
                    <input th:field="*{user.name.familyName}" th:value="${user.name.familyName}" type="text"
                           class="form-control" th:required="true"/>
                  </div>
                </div>

                <div class="form-group req">
                  <label class="col-sm-3 control-label">Roles</label>
                  <div class="col-sm-6">
                    <div class="checkbox" th:each="role : ${roles}">
                      <label>
                        <input type="checkbox" th:field="*{user.role}" th:value="${role}"/>
                        <span th:text="${role.code}"></span>
                      </label>
                    </div>
                  </div>
                </div>

                <div th:if="${user.id != null}" class="form-group">
                  <div class="col-sm-offset-3">
                    <a  th:href="@{'/user/edit-password/'+${user.username}}">Change Password</a>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-danger btn-s-md"><i class="fa fa-floppy-o"></i> Save User</button>
                    <a th:href="@{/user/list}" class="btn btn-default btn-s-sm"><i class="fa fa-ban"></i> Cancel</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div th:replace="footer :: foot"></div>
<script th:inline="javascript">
  $(function () {
    $('.datetimepicker').datetimepicker({
      format: 'MM-DD-YYYY',
      minDate: new Date() ,
      showClear: true
    });
    if (![[${user.id}]]) {
      $('#status1').prop('checked', 'checked');
    } else {
      $('#date-created, #ticket-number').removeClass('hide');
    }
    $('.file-attachment-delete').on('click',function(e) {
      var itemId = $(this).data('id');
      $.get('/attachment/remove/'+itemId);
      $(this).parents('tr').remove();
    });
    $("#insert-diameter").on('click', function() {
      var caretPos = document.getElementById('itemDescription').selectionStart;
      var textAreaTxt = $('#itemDescription').val();
      /*<![CDATA[*/
      $("#itemDescription").val(textAreaTxt.substring(0, caretPos) + $('<div>').html('&#216;').text() + textAreaTxt.substring(caretPos));
      /*]]>*/
      $("#itemDescription").focus();
    });
  });
</script>

</body>
</html>
