body {
  padding: 0;
  background-color: #801515;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #222;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

a {
  color: #3380FF;
  text-decoration: none;
  outline: 0 none;
}

a:focus, a:hover, a:active {
  outline: 0 none;
  text-decoration: none;
  color: #3078ef;
}

p {
  font-size: 13px;
  line-height: 22px;
}

b {
  font-weight: 400;
}

blockquote p {
  font-size: 15px;
}

ul {
  padding-left: 30px;
}

.overflow-hidden {
  overflow: hidden;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-y {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.no-margin-x {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-y {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.no-padding-x {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.big-text {
  font-size: 61px;
  line-height: 70px !important;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.2);
  padding-bottom: 5px;
}

.no-float {
  float: none !important;
}

table thead th {
  padding: 5px;
  font-size: 13px;
  font-weight: 200;
}

table tbody td {
  padding: 7px 8px;
  font-size: 12px;
}

table .primary-emphasis, table .primary-emphasis-dark {
  background: #4D90FD;
  color: #FFF;
  border-color: #4D90FD;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

table .primary-emphasis-dark {
  background-color: #437edd;
}

table .success-emphasis, table .success-emphasis-dark {
  background: #60C060;
  color: #FFF;
  border-color: #60C060;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

table .success-emphasis-dark {
  background-color: #58b058;
  border-color: #58b058;
}

table .warning-emphasis, table .warning-emphasis-dark {
  background: #FC9700;
  color: #FFF;
  border-color: #FC9700;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

table .warning-emphasis-dark {
  background-color: #fc8800;
  border-color: #fc8800;
}

table .danger-emphasis, table .danger-emphasis-dark {
  background: #DA4932;
  color: #FFF;
  border-color: #DA4932;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

table .danger-emphasis-dark {
  background-color: #c8432e;
  border-color: #c8432e;
}

/*Text Colors*/
.color-primary {
  color: #3078EF;
}

.color-primary.fa {
  color: #4C94FF;
}

.color-success {
  color: #5FBF5F;
}

.color-warning {
  color: #FC9700;
}

.color-danger {
  color: #ee5037;
}

.jumbotron {
  margin-top: 20px;
}

#pcont {
  margin-left: 216px;
  position: relative;
  padding: 0;
}

/*navigation*/
.navbar {
  border: 0;
  background-color: #EB1F27;
  color: #FFF;
  padding-left: 10px;
  padding-right: 25px;
}

.navbar-default .navbar-brand {
  padding-left: 35px;
  text-align: left;
  width: 206px;
  color: #FFF;
  background: url(../images/logo.png) no-repeat 5px 0px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  font-weight: 300;
  font-size: 19px;
  line-height: 18px;
  background-size: 172px;
}

.navbar-default .navbar-brand:hover {
  color: #FFF;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  background-color: #36a3ff;
  color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > li.button {
  padding: 10px 6px;
  float: left;
}

.navbar-default .navbar-nav > li.button > a {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 30px;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2) inset;
  text-align: center;
}

.navbar-default .navbar-nav > li.button > a:hover {
  background: rgba(255, 255, 255, 0.07);
}

.navbar-default .navbar-nav > li.button > a:active {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.07) inset;
}

.navbar-default .navbar-nav > li.button > a > i {
  font-size: 16px;
}

.navbar-default .navbar-nav > li.button .bubble {
  position: absolute;
  top: -6px;
  left: 20px;
  background-color: #e44c34;
  color: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  border-color: #E23923 #D83722 #C0311E;
  border-left: 1px solid #D83722;
  border-width: 1px;
  box-shadow: -1px 1px 0 rgba(0, 0, 0, 0.25);
  padding: 1px 3px 1px 2px;
  font: bold 9px Tahoma;
}

.navbar-default .navbar-nav > li.button.open:after {
  position: absolute;
  bottom: 0;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  border-left: 6px solid transparent;
  content: '';
  left: 50%;
  margin-left: -6px;
}

.navbar-default .navbar-nav > li > a:focus {
  color: #FFF;
}

.navbar-nav > li.button .dropdown-menu {
  padding: 0;
  min-width: 260px;
  max-width: 280px;
}

.navbar-nav > li.button .dropdown-menu .content > ul {
  padding: 0;
}

.navbar-default .navbar-nav > li.button .dropdown-menu li ul > li > a {
  font-weight: 300;
  color: #444;
  padding: 11px 10px;
  padding-left: 33px;
  border-bottom: 1px solid #ececec;
  position: relative;
}

.navbar-default .navbar-nav > li.button .messages li ul > li > a {
  padding: 12px 10px;
  padding-left: 48px;
  white-space: normal;
  line-height: 16px;
}

.navbar-default .navbar-nav > li.button .dropdown-menu li > a:hover {
  color: #444;
  background: #F8F8F8;
}

.navbar-default .navbar-nav > li.button .dropdown-menu li:last-child > a {
  border-bottom: 0;
}

.navbar-default .navbar-nav > li.button .dropdown-menu li > a > i {
  display: inline-block;
  font-size: 14px;
  text-align: center;
  width: 20px;
  vertical-align: middle;
  position: absolute;
  left: 10px;
  top: 14px;
}

.navbar-default .navbar-nav > li.button .messages li > a > img {
  position: absolute;
  left: 10px;
  top: 16px;
  height: 30px;
  width: 30px;
}

.navbar-default .navbar-nav > li.button .messages li > a .name {
  display: block;
  color: #555555;
  font-size: 12px;
  font-weight: 600;
  line-height: 19px;
}

.navbar-default .navbar-nav > li.button .dropdown-menu li > a > i.success {
  color: #60C060;
}

.navbar-default .navbar-nav > li.button .dropdown-menu li > a > i.info {
  color: #4D90FD;
}

.navbar-default .navbar-nav > li.button .dropdown-menu li > a > i.warning {
  color: #FC9700;
}

.navbar-default .navbar-nav > li.button .dropdown-menu li > a > i.danger {
  color: #DA4932;
}

.navbar-default .navbar-nav > li.button .dropdown-menu .nano {
  height: 200px;
}

.navbar-default .navbar-nav > li.button .dropdown-menu li a .date {
  display: block;
  font-size: 11px;
  color: #999999;
  font-style: italic;
  line-height: 18px;
}

.navbar-default .navbar-nav > li.button .dropdown-menu .title {
  font-size: 12px;
  font-weight: 300;
  border-bottom: 1px solid #DDDDDF;
  padding: 8px 17px;
  color: #444;
}

.navbar-default .navbar-nav > li.button .dropdown-menu .title a:hover {
  background: transparent;
}

.navbar-default .navbar-nav > li.button .dropdown-menu .foot {
  padding: 0;
}

.navbar-default .navbar-nav > li.button .dropdown-menu .foot a {
  background: #F7F7F7;
  padding: 8px 17px;
  color: #444;
  text-align: center;
}

/*Dropdown menu*/
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0px;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-menu li > a:hover {
  background-color: #A6373F;
  background-image: none;
  color: #FFF;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
  border-top: 0;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
  border-bottom-color: #FFFFFF;
  border-top-color: #FFFFFF;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-bottom-color: #fff;
  border-top-color: #FFF;
}

.dropdown-menu > li > a, .dropdown-menu li > a {
  font-size: 12px;
  padding: 5px 20px;
  clear: both;
  color: #333333;
  display: block;
  font-weight: normal;
  line-height: 1.42857;
  white-space: nowrap;
}

.dropdown-header {
  color: #2083D6;
  margin-top: 6px;
  padding-left: 11px;
  cursor: pointer;
}

.dropdown-header i {
  font-size: 14px;
  margin-right: 4px;
  vertical-align: middle;
}

.dropdown-menu {
  background-clip: none;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.18);
}

.col-menu-2 {
  min-width: 405px;
  padding-bottom: 10px;
  padding-top: 7px;
}

.col-menu-2 > li > ul:first-child {
  border-right: 1px solid #E8E8E8;
}

.col-menu-2 > li > ul > li a {
  padding-left: 32px;
}

.col-menu-2 > li > ul {
  padding: 0;
}

.col-menu-2 > li > ul > li {
  list-style: none;
}

/*END - Dropdown menu*/

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
  background-color: #7D141C;
  color: #FFF;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #7D141C;
  color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  color: #FFF;
}

.navbar-default .navbar-toggle {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2) inset;
  padding: 6px 10px;
}

.navbar-default .navbar-toggle:hover {
  background: rgba(255, 255, 255, 0.07);
}

.navbar-default .navbar-toggle:active {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.07) inset;
}

.navbar-default .navbar-toggle:focus {
  background: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}

.navbar-default .navbar-toggle .fa {
  color: #FFFFFF;
  font-size: 18px;
}

.navbar-collapse {
  max-height: none;
  position: relative;
}

/*Profile menu*/
.profile_menu {
  margin-left: 10px;
  cursor: pointer;
}

.not-nav {
  margin: 0 !important;
}

.user-nav {
  margin: 0;
  margin-right: -15px;
}

.profile_menu .dropdown-toggle {
  padding: 15px 10px;
}

.profile_menu img {
  margin-right: 5px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
}

/*END - Profile menu*/

.spacer {
  margin-top: 15px !important;
}

.spacer2 {
  margin-top: 30px !important;
}

.spacer3 {
  margin-top: 50px !important;
}

.spacer-bottom-xs {
  margin-bottom: 10px !important;
}

.spacer-bottom {
  margin-bottom: 30px !important;
}

.spacer-bottom-sm {
  margin-bottom: 15px !important;
}

.spacer-bottom-lg {
  margin-bottom: 40px !important;
}

.hthin {
  font-family: "Raleway", Helvetica, sans-serif !important;
  font-weight: 100 !important;
}

/*Page Title*/
.page-head {
  background: none repeat scroll 0 0 #FFFFFF;
  border-bottom: 1px solid #E9E9E9;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.05);
  padding: 20px 25px;
  position: relative;
}

.page-head h3 {
  margin-bottom: 5px;
  margin-top: 6px;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: -1px;
  color: #801515;
}

.page-head .breadcrumb {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  margin-bottom: 0;
  padding: 4px;
}

.mcont {
  background-color: #F6F6F6;
  color: inherit;
  font-size: 13px;
  font-weight: 300;
  line-height: 21px;
  padding: 15px 30px 30px 30px;
  margin-top: 0;
  min-height: 700px;
}

.mcont.white {
  background: #fff;
}

.mcont h1 {
  line-height: 1.3em;
}

#wrapper {
  margin-top: 50px;
}

/*Login*/
#wrapper.login-container, #wrapper.error-container {
  margin: 0;
}

.login-container .middle-login {
  width: 430px;
  left: 50%;
  top: 50%;
  position: absolute;
  margin-top: -170px;
  margin-left: -215px;
}

.login-container .block-flat {
  padding: 0;
  border: 0;
  overflow: hidden;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}

.login-container .block-flat .header {
  padding: 9px 20px;
  background: #EB1F27;
  border-bottom: 1px solid #B14747;
}

.login-container .block-flat .header h3 {
  line-height: 35px;
  margin: 0;
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.login-container .header .logo-img {
  margin-right: 3px;
}

.login-container .block-flat .content {
  padding: 30px;
  padding-bottom: 5px;
}

.login-container .block-flat .content .form-control {
  padding: 10px 8px;
  height: auto;
}

.login-container .block-flat .content .form-group {
  margin-bottom: 10px;
}

.login-container .block-flat .content .title {
  margin-top: 0;
  margin-bottom: 20px;
}

.login-container .block-flat .foot {
  text-align: right;
  padding: 0 30px 15px;
}

.login-container .block-flat .foot .btn {
  min-width: 70px;
}

.login-container .block-flat .input-group-addon {
  background: #FAFAFA;
}

.login-container .out-links {
  padding-right: 3px;
}

.login-container .out-links a {
  color: #C9D4F6;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

/*404 Page*/
.page-error {
  margin-top: 80px;
  margin-bottom: 40px;
}

.page-error .number {
  color: #FFF;
  font-size: 150px;
  font-family: Arial;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

.page-error .description {
  color: #FFF;
  font-size: 40px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

.page-error h3 {
  color: #FFF;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

.error-container .copy, .error-container .copy a {
  color: #C9D4F6;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

/*Vertical Navigation*/
.sidebar {
  position: absolute;
  width: 216px;
}

.sidebar .toggle {
  display: none;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}

.sidebar .toggle i {
  font-size: 24px;
  color: #C9D4F6;
}

.vnavigation {
  margin: 0 0 0 0;
  padding: 0;
}

.vnavigation .parent a {
  background: url("../images/arrow.png") no-repeat scroll 190px 18px transparent;
}

.vnavigation li a {
  border-bottom: 1px solid #5A0505;
  display: block;
  padding: 13px 18px 12px;
  color: #fff;
  font-size: 12px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.vnavigation li a:hover, .vnavigation li a.active {
  background-color: #5A0505;
}

.vnavigation li a i {
  font-size: 14px;
  margin-right: 10px;
}

.vnavigation li ul {
  display: none;
  margin: 0;
  padding: 0;
}

.vnavigation .parent ul li {
  background-color: #1a1c20;
  list-style: none;
}

.vnavigation .parent ul li a {
  font-size: 11px;
  background-image: none;
  padding: 7px 18px 7px 42px;
  background-color: #1a1c20;
}

.vnavigation .parent ul li a:hover {
  background-color: #1e2025;
}

.vnavigation .parent ul li a:first-child {
  border-top: 0;
}

.vnavigation .selected a {
  background-color: #2494F2;
  border-top: 1px solid #2494F2;
}

.vnavigation .selected:hover a {
  background-color: #2494F2;
}

.vnavigation .selected:hover ul a {
  background-color: #1A1C20;
}

.red-box {
  background-image: -moz-linear-gradient(center top, #ff8a65 45%, #F07853 102%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8a65), to(#F07853)); /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, #ff8a65, #F07853); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image: -o-linear-gradient(top, #ff8a65, #F07853); /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, #ff8a65 45%, #F07853 102%);
  background-color: #ff8a65;
  color: #FFFFFF;
}

.red2-box {
  background-image: -moz-linear-gradient(center top, #FF7877 45%, #ED5554 102%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF7877), to(#ED5554)); /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, #FF7877, #ED5554); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image: -o-linear-gradient(top, #FF7877, #ED5554); /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, #FF7877 45%, #ED5554 102%);
  background-color: #FF7877;
  color: #FFFFFF;
}

.blue-box {
  background-image: -moz-linear-gradient(center top, #52AEFF 45%, #3D9CEF 102%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#52AEFF), to(#3D9CEF)); /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, #52AEFF, #3D9CEF); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image: -o-linear-gradient(top, #52AEFF, #3D9CEF); /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, #52AEFF 45%, #3D9CEF 102%);
  background-color: #52AEFF;
  color: #FFFFFF;
}

.green-box {
  background-image: -moz-linear-gradient(center top, #82c261 45%, #70BE46 102%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#82c261), to(#70BE46)); /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, #82c261, #70BE46); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image: -o-linear-gradient(top, #82c261, #70BE46); /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, #82c261 45%, #70BE46 102%);
  background-color: #82c261;
  color: #FFFFFF;
}

.violet-box {
  background-image: -moz-linear-gradient(center top, #b450b2 45%, #853685 102%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b450b2), to(#853685)); /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, #b450b2, #853685); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image: -o-linear-gradient(top, #b450b2, #853685); /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, #b450b2 45%, #853685 102%);
  background-color: #82c261;
  color: #FFFFFF;
}

.yellow-box {
  background-image: -moz-linear-gradient(center top, #FFC91C 45%, #FAB219 102%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFC91C), to(#FAB219)); /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, #FFC91C, #FAB219); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image: -o-linear-gradient(top, #FFC91C, #FAB219); /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, #FFC91C 45%, #FAB219 102%);
  background-color: #82c261;
  color: #FFFFFF;
}

.white-box {
  background: #FFF;
}

.widget-block.calendar-box {
  overflow: hidden;
}

.widget-block.calendar-box h2 {
  font-size: 28px;
}

.widget-block.calendar-box .day {
  text-align: center;
  font-size: 102px;
}

.widget-block.weather-box {
  overflow: hidden;

  color: #FFF;
}

.widget-block.weather-box .photo {
  background: url("../images/sunset2.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 260px;
}

.widget-block.weather-box h2 {
  margin-top: 60px;
  font-size: 28px;
  font-weight: 400;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}

.widget-block.weather-box .photo {
}

.widget-block.weather-box .day {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 70px;
  margin-top: 3px;
}

/*UI Datepicker*/
.ui-datepicker {
  position: relative;
}

.ui-datepicker .ui-datepicker-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  padding-bottom: 5px;
  margin-bottom: 4px;
}

.ui-datepicker .ui-datepicker-title {
  cursor: default;
  line-height: 1.8em;
  margin: 0 2.3em;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  height: 1.8em;
  position: absolute;
  top: 2px;
  width: 1.8em;
  color: #FFF;
}

.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  overflow: hidden;
  display: block;
  text-indent: -99999px;
}

.ui-datepicker .ui-datepicker-prev span:after, .ui-datepicker .ui-datepicker-next span:after {
  cursor: pointer;
  content: "";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  text-indent: 0;
}

.ui-datepicker .ui-datepicker-next {
  right: 2px;
}

.ui-datepicker .ui-datepicker-next span:after {
  content: "";
  right: 0;
}

.ui-datepicker table th {
  border: 0;
  padding: 3px;
}

.ui-datepicker table th span {
  font-size: 14px;
  color: #FFF;
}

.ui-datepicker table tr {
  background: transparent !important;
}

.ui-datepicker table td {
  border: 0;
  padding: 3px;
}

.ui-datepicker td span, .ui-datepicker td a {
  display: block;
  padding: 0.2em;
  text-align: right;
  text-decoration: none;
  color: #FFF;
}

.fb-box {
  margin-top: 0 !important;
  background-image: -moz-linear-gradient(center top, #3E80BF 50%, #325fa0 102%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3E80BF), to(#325fa0)); /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, #3E80BF, #325fa0); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image: -o-linear-gradient(top, #3E80BF, #325fa0); /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, #3E80BF 50%, #325fa0 102%);
  background-color: #366eab;
  color: #FFFFFF;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35) !important;
}

.fb-box h2 {
  font-size: 19px;
  font-weight: 400;
  margin: 0 0 5px 0;
  padding-top: 10px;
}

.fb-box h3 {
  font-size: 13px;
  font-weight: 200;
  margin: 0 0 20px 0;
}

.fb-box h4 {
  font-size: 13px;
  font-weight: 400;
  margin: 0 0 5px 0;
}

.fb-box img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 3px solid #FFFFFF;
  margin-bottom: 15px;
  margin-top: 20px;
}

.fb-box .content {
  padding: 20px;
  text-align: center;
}

.fb-box .info {
  background: #264A7E;
  color: #FFF;
  border-top: 1px solid #426ca5;
  text-align: center;
}

.fb-box .info button {
  box-shadow: none;
  max-width: 195px;
  width: 80%;
  padding: 13px;
  background: #4884c0;
  border: 0;
  margin: 5px 0;
  text-transform: uppercase;
}

.fb-box .info button i {
  margin-right: 3px
}

.fb-box .info div {
  padding: 15px 10px;
}

.fb-box .row {
  margin: 0;
}

.rad-1 {
  border-radius: 1px;
  -webkit-border-radius: 1px;
  overflow: hidden;
}

.rad-2 {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  overflow: hidden;
}

.rad-3 {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  overflow: hidden;
}

.blue-chart h2 {
  text-shadow: 0 -1px 0 #357FC0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table .right {
  text-align: right;
}

table .left {
  text-align: left;
}

.red thead th {
  color: #d36442;
}

.blue thead th {
  color: #3078EF;
}

.violet thead th {
  color: #8b12ae;
}

.green thead th {
  color: #4da60c;
}

table thead th span {
  color: #333;
}

table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #DADADA;
  border-left: 1px solid #DADADA;
  border-top: 1px solid #DADADA;
  padding: 10px 8px 5px 8px;
}

table thead th:last-child {
  border-right: 1px solid #DADADA;
}

table thead span {
  font-size: 16px;
  display: block;
}

table td {
  border-left: 1px solid #DADADA;
  border-bottom: 1px solid #dadada;
  padding: 7px 8px;
}

table td .progress {
  margin: 0;
}

table.hover tbody tr:hover {
  background: #f3f3f3;
}

table td i {
  font-size: 15px;
  display: inline-block;
  text-align: center;
  width: 23px;
}

table td:last-child {
  border-right: 1px solid #dadada;
}

table tr:nth-child(2n) {
  background: #f8f8f8;
}

/*No-Internal borders in thead*/
table .no-border th {
  border-left: 0;
}

table .no-border tr th:first-child {
  border-left: 1px solid #dadada;
}

/*No-Internal borders in tbody x and y*/
table .no-border-x td {
  border-bottom: 0;
}

table .no-border-x tr:last-child td {
  border-bottom: 1px solid #dadada;
}

table .no-border-y td {
  border-left: 0;
}

table .no-border-y tr td:first-child {
  border-left: 1px solid #dadada;
}

/*No-External borders general table*/
table.no-border tr th {
  border-top: 0;
}

table.no-border tr th:first-child {
  border-left: 0;
}

table.no-border tr th:last-child {
  border-right: 0;
}

table.no-border tr td:first-child {
  border-left: 0;
}

table.no-border tr td:last-child {
  border-right: 0;
}

table.no-border tr:last-child td {
  border-bottom: 0;
}

/*No-External borders when .no-padding in block*/
.no-padding table th:first-child {
  border-left: 0;
}

.no-padding table th:last-child {
  border-right: 0;
}

.no-padding table tr td:first-child {
  border-left: 0;
}

.no-padding table tr td:last-child {
  border-right: 0;
}

.no-padding table tr:last-child td {
  border-bottom: 0;
}

/*Dashboard Colums*/
.mcont .row {
  margin-top: 20px;
}

.mcont .col-lg-6 {
  padding: 0 15px;
}

.mcont .block {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.13);
  border: 0;
  margin-bottom: 30px;
  background: #FFF;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

.block-flat, .block-wizard {
  margin-bottom: 40px;
  padding: 20px 20px;
  background: #FFF;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #e2e2e2;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
}

.block .cl, .widget-block .cl {
  margin-bottom: 20px;
}

.widget-block {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.21);
  border: 0;
  margin-bottom: 30px;
  margin-top: 0;
}

.widget-block .row {
  margin: 0;
}

.widget-block .padding {
  padding: 20px 20px;
}

.widget-block .vpadding {
  padding: 20px 0;
}

.widget-block .hpadding {
  padding: 0 20px;
}

.block .header, .widget-block .header, .block-flat .header {
  padding: 10px;
  background-color: #FEFEFE;
  border-bottom: 1px solid #dadada;
}

.block .header {
  border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  padding: 10px;
}

.block-flat .header {
  background: transparent;
  padding: 3px 0;
}

.block-flat .header h3 {
  margin-top: 3px;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 400;
}

.block-flat .content {
  padding: 15px 3px 0 3px;
}

.block-flat .content.full-width {
  padding: 0;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
}

.block-flat .content h4 {
  margin-top: 20px;
  font-size: 16px;
}

.block-flat.no-padding .content {
  padding: 0 !important;
}

.legend-container table {
  width: auto;
  margin: 20px 0 0 20px;
}

.legend-container table tr {
  background: transparent;
}

.legend-container table td {
  border: 0;
  padding: 0 5px 3px 5px;
}

.legend-container .legendColorBox > div {
  border: 0 !important;
}

.legend-container .legendColorBox > div > div {
  border-width: 6px !important;
}

.block-flat.no-padding .content table td, .block-flat.no-padding .content table th {
  padding: 11px 10px 7px 10px;
}

.block .no-border {
  border-bottom: 0;
}

.block .content h2, .widget-block .content h2 {
  font-family: 'Open Sans', sans-serif;
}

.block .header h2, .widget-block .header h2, .block-flat .header h2 {
  margin: 0;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 100;
  font-size: 29px;
  line-height: 38px;
  padding-right: 5px;
}

.block .header h3, .widget-block .header h3 {
  margin: 0;
  font-size: 13px;
  font-weight: 300;
  line-height: 21px;
  color: #666;
}

.block .header .actions i, .widget-block .header .actions i {
  font-size: 18px;
  color: #6F6F6F;
  display: inline-block;
  padding: 0;
  text-align: center;
  cursor: pointer;
  width: 20px;
  vertical-align: top;
}

.block .header .actions i:hover, .widget-block .header .actions i:hover {
  color: #858585;
}

.widget-block .fb-head {
  background: #1784c7;
  border: 0;
  color: #FFF;
}

.widget-block .fb-head i {
  display: inline-block;
  text-align: center;
  width: 28px;
}

.bg-darkgray {
  background-color: #888e97;
  color: #fff;
}

.bg-blue {
  background-color: #43A0F2;
  color: #fff;
}

.bg-blue .caret, .bg-darkgray .caret {
  border-color: #fff transparent;
  border-width: 5px 5px 0;
}

.bg-blue a, .bg-darkgray a {
  color: #FFF;
}

.mcont .block .content {
  padding: 20px;
}

.mcont .block .stat-data, .mcont .block-flat .stat-data {
  padding: 10px;
  float: left;
  width: 50%;
}

.mcont .block .stat-data h2, .mcont .block-flat .stat-data h2 {
  margin: 0 0 5px 0;
}

.mcont .block .stat-data span, .mcont .block-flat .stat-data span {
  font-size: 18px;
}

.mcont .block .stat-data .stat-blue, .mcont .block-flat .stat-data .stat-blue {
  background: #43A0F2;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  text-align: center;
  color: #FFF;
  padding: 20px 10px;
}

.mcont .block .stat-data .stat-number, .mcont .block-flat .stat-data .stat-number {
  border-bottom: 1px solid #dadada;
}

.mcont .block .stat-data .stat-number:last-child, .mcont .block-flat .stat-data .stat-number:last-child {
  border-bottom: 0;
}

.mcont .block .stat-data .stat-number div, .mcont .block-flat .stat-data .stat-number div {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 5px;
  font-size: 16px;
  line-height: 20px;
}

.mcont .block .stat-data .stat-number h2, .mcont .block-flat .stat-data .stat-number h2 {
  margin: 0;
  font-size: 35px;
  color: #444;
  font-weight: 300;
}

.mcont .block .stat-data .stat-number span, .mcont .block-flat .stat-data .stat-number span {
  font-size: 12px;
}

.block .fact-data, .widget-block .fact-data, .block-flat .fact-data {
  margin: 25px 0;
  padding: 0 20px;
  display: inline-block;
  width: 98%;
  vertical-align: top;
}

.block .total-data, .widget-block .total-data, .block-flat .total-data {
  padding: 15px;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  position: relative;
}

.block .dropdown-menu, .widget-block .dropdown-menu, .block-flat .dropdown-menu {
  margin: -1px 0 0 0;
  border-radius: 1px;
  -webkit-border-radius: 1px;
}

.btn-group .dropdown-menu {
  margin-top: -6px;
}

.btn-group {
  margin-right: 5px;
  margin-left: 4px;
}

.static-mn, .widget-block .static-mn {
  display: block;
  position: static;
}

.static-mn, .widget-block .static-mn {
  display: block;
  position: static;
}

.static-lg-menu .static-mn, .widget-block .static-lg-menu .static-mn {
  min-width: 90%;
}

.block .items, .widget-block .items {
  margin: 0;
  padding: 0;
}

.block .items li, .widget-block .items li {
  border-top: 1px solid #e8e8e8;
  list-style: none;
  font-size: 14px;
  line-height: 17px;
  padding: 13px;
  background-color: #FFF;
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
}

.block .items li i, .widget-block .items li i {
  color: #555555;
  display: block;
  float: left;
  font-size: 28px;
  height: 38px;
  margin-left: 4px;
  margin-right: 15px;
  margin-top: 2px;
}

.block .items li small, .widget-block .items li small {
  display: block;
}

.block .items li:hover, .widget-block .items li:hover {
  background-color: #F4F4F4;

}

.block .items li .value, .widget-block .items li .value {
  font-size: 15px;
  margin-top: 7px;
}

.block .items li:first-child, .widget-block .items li:first-child {
  border-top: 0;
}

.block .total-data h2, .widget-block .total-data h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}

.block .total-data h3, .widget-block .total-data h3 {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}

.block .total-data h4, .widget-block .total-data h4 {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

.block .total-data h2 span, .widget-block .total-data h2 span {

}

.widget-block .fact-data {
  margin: 27px 0;
}

.block .fact-data:first-child {
  /*border-right: 1px solid #eaeaea;*/
}

.block .fact-data h2, .widget-block .fact-data h2 {
  margin: 0;
  font-size: 32px;
  font-weight: 300;
}

.block .fact-data h3, .widget-block .fact-data h3 {
  text-transform: uppercase;
  margin: 0;
  font-weight: 200;
  font-size: 13px;
}

.widget-block .fact-data h3 {
  margin-bottom: 13px;
  font-size: 17px;
}

.widget-block .fact-data h2 {
  margin-bottom: 4px;
}

.widget-block .fact-data p {
  font-size: 12px;
}

.widget-block .no-padding {
  padding: 0;
}

.widget-block .text-shadow h3, .widget-block .text-shadow h2, .widget-block .text-shadow p {
}

.widget-block h3 {
  font-size: 17px;
  margin: 5px 0 0 0;
  font-weight: 200;
}

.widget-block h2 {
  font-size: 32px;
  font-weight: 300;

}

.block h2 i {
  font-size: 24px;
  color: #555;
  margin-right: 6px;
}

.dash-cols .block .no-padding {
  padding: 0;
}

.no-padding {
  padding: 0 !important;
}

.clear {
  clear: both;
}

/*Nestable lists*/
.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  max-width: 600px;
  list-style: none;
  font-size: 13px;
  line-height: 20px;
}

.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dd-list .dd-list {
  padding-left: 30px;
}

.dd-collapsed .dd-list {
  display: none;
}

.dd-item,
.dd-empty,
.dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
}

.dd-handle {
  cursor: default;
  display: block;
  margin: 5px 0;
  padding: 7px 10px;
  color: #333;
  text-decoration: none;
  border: 1px solid #ddd;
  background: #fff;
}

.dd-handle:hover {
  color: #FFF;
  background: #4D90FD;
  border-color: #428BCA;
}

.dd-item > button {
  color: #555;
  font-family: FontAwesome;
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  width: 25px;
  height: 20px;
  margin: 8px 2px;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  font-size: 10px;
  line-height: 1;
  text-align: center;
}

.dd-item > button:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0;
}

.dd-item > button[data-action="collapse"]:before {
  content: '';
}

.dd-placeholder,
.dd-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #FFF;
  border: 1px dashed #b6bcbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
  -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
  -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
  linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}

.dd-dragel > .dd-item .dd-handle {
  margin-top: 0;
}

.dd-dragel .dd-handle {
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
}

.dd3-content {
  display: block;
  margin: 5px 0;
  padding: 7px 10px 7px 40px;
  color: #333;
  text-decoration: none;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DDDDDD;
  color: #333333;
}

.dd3-content:hover {
  background: #fff;
}

.dd-dragel > .dd3-item > .dd3-content {
  margin: 0;
}

.dd3-item > button {
  margin-left: 35px;
}

.dd3-handle {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  cursor: all-scroll;
  width: 34px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #3680BF;
  background: #4D90FD;
  height: 36px;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2) inset;
}

.dd3-handle:before {
  content: '≡';
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  width: 100%;
  text-align: center;
  text-indent: 0;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
}

.dd3-handle:hover {
  background: #4E9DFF;
}

/*Pre & Code*/
pre {
  font-family: 'Open Sans', sans-serif;
  border: 0 none;
  background: none;
  padding: 10px 0 0 0;
}

.pre {
  white-space: pre;
}

/*Forms*/
label {
  font-weight: 600;
  margin-bottom: 7px;
}

.req label.control-label:before {
  content: "* ";
  color: #FF0000;
}

.form-group {
  margin-top: 10px;
}

.form-horizontal.group-border .form-group {
  margin: 0;
  padding: 20px 0;
  border-bottom: 1px solid #efefef;
}

.form-horizontal.group-border .form-group:last-child {
  border-bottom: 0;
}

.form-horizontal.group-border-dashed .form-group {
  margin: 0;
  padding: 20px 0;
  border-bottom: 1px dashed #efefef;
}

.form-horizontal.group-border-dashed .form-group:last-child {
  border-bottom: 0;
}

.form-control {
  padding: 6px 8px;
  font-size: 12px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  color: #000 !important;
}

.input-group .btn {
  margin: 0 !important;
  margin-left: -1px !important;
  padding-bottom: 6px;
  padding-top: 6px;
  box-shadow: none;
  line-height: 20px;
}

.input-group-btn > .btn + .btn {
  margin-left: -5px !important;
}

.input-group-lg > .input-group-addon {
  line-height: 0.33;
  border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
}

.input-group-addon {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 6px 11px;
}

.form-control:focus {
  border-color: #a7c4e0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}

select.form-control, textarea.form-control {
  padding: 6px 8px;
}

.input-group {
  margin-bottom: 15px;
}

/*Alerts*/
.alert {
  border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.11);
}

.alert .sign {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 5px;
  text-align: center;
  width: 25px;
  display: inline-block;
}

.alert-success {
  background-color: #DBF6D3;
  border-color: #AED4A5;
  color: #569745;
}

.alert-info {
  background-color: #D9EDF7;
  border-color: #98cce6;
  color: #3A87AD;
}

.alert-warning {
  background-color: #FCF8E3;
  border-color: #F1DAAB;
  color: #C09853;
}

.alert-danger {
  background-color: #F2DEDE;
  border-color: #e0b1b8;
  color: #B94A48;
}

.alert-white {
  background-image: linear-gradient(to bottom, #FFFFFF, #F9F9F9);
  border-top-color: #d8d8d8;
  border-bottom-color: #bdbdbd;
  border-left-color: #cacaca;
  border-right-color: #cacaca;
  color: #404040;
  padding-left: 61px;
  position: relative;
}

.alert-white .icon {
  text-align: center;
  width: 45px;
  height: 103%;
  position: absolute;
  top: -1px;
  left: -1px;
  border: 1px solid #BDBDBD;
  padding-top: 15px;
}

.alert-white .icon:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);

  display: block;
  content: '';
  width: 10px;
  height: 10px;
  border: 1px solid #BDBDBD;
  position: absolute;
  border-left: 0;
  border-bottom: 0;
  top: 50%;
  right: -6px;
  margin-top: -3px;
  background: #fff;
}

.alert-white.rounded {
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

.alert-white.rounded .icon {
  border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
}

.alert-white .icon i {
  font-size: 20px;
  color: #FFF;
  left: 12px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
}

.alert-white.alert-danger .icon, .alert-white.alert-danger .icon:after {
  border-color: #ca452e;
  background: #da4932;
}

.alert-white.alert-info .icon, .alert-white.alert-info .icon:after {
  border-color: #3A8ACE;
  background: #4D90FD;
}

.alert-white.alert-warning .icon, .alert-white.alert-warning .icon:after {
  border-color: #D68000;
  background: #FC9700;
}

.alert-white.alert-success .icon, .alert-white.alert-success .icon:after {
  border-color: #54A754;
  background: #60C060;
}

/*Labels*/
.label {
  border-radius: 0;
  -webkit-border-radius: 0;
  font-weight: normal;
  font-size: 95%;
}

.label-default {
  background-color: #a1a1a1;
}

.label i {
  font-size: 100% !important;
  color: inherit !important;
  width: auto !important;
  min-width: 11px;
}

.label-success {
  background-color: #60C060;
}

.label-primary {
  background-color: #4D90FD;
}

.label-warning {
  background-color: #fcad37;
}

.label-danger {
  background-color: #ED5B56;
}

.label-info {
  background-color: #5DC4EA;
}

/*Bagde*/
.badge {
  font-weight: normal;
  font-size: 95%;
  padding: 4px 6px;
  background-color: #a1a1a1;
}

.badge-primary {
  background-color: #4D90FD !important;
}

.badge-success {
  background-color: #60C060 !important;
}

.badge-info {
  background-color: #5DC4EA !important;
}

.badge-warning {
  background-color: #fcad37 !important;
}

.badge-danger {
  background-color: #ED5B56 !important;
}

/*Icons*/
.fa-mobile-phone {
  font-size: 18px;
}

.icon-16 {
  font-size: 16px !important;
}

.icon-19 {
  font-size: 19px !important;
}

.icon-24 {
  font-size: 24px !important;
}

.icon-32 {
  font-size: 32px !important;
}

.icon-64 {
  font-size: 64px !important;
}

.icon-show i {
  font-size: 14px !important;
  margin-right: 5px;
  width: 20px;
}

.icon-show > div {
  margin: 5px 0;
}

/*Buttons*/
.btn:not(.btn-link) {
  border-radius: 0;
  -webkit-border-radius: 0;
  outline: none;
  margin-bottom: 5px;
  margin-left: 4px;
  font-size: 13px;
  padding: 7px 11px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12), 1px 1px 0 rgba(255, 255, 255, 0.2) inset;
}

.btn-default, .btn-default:focus {
  background-color: #FFFFFF;
  border-color: #CCCCCC;
  color: #333333;
  background-image: linear-gradient(to bottom, #FFFFFF 60%, #F9F9F9 100%);
}

.btn-default i {
  color: #444;
}

.btn-primary, .btn-primary:focus {
  background-color: #4D90FD;
  border-color: #3680BF;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-color: #4e9dff;
  border-color: #357ebd;
}

.btn-primary:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}

.btn-success, .btn-success:focus {
  background-color: #60C060;
  border-color: #54A754;
}

.btn-success:hover, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
  background-color: #65ca65;
  border-color: #54A754;
}

.btn-info, .btn-info:focus {
  background-color: #5BC0DE;
  border-color: #28a1c4;
}

.btn-info:hover, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
  background-color: #5fc8e7;
  border-color: #28A1C4;
}

.btn-warning, .btn-warning:focus {
  background-color: #FF9900;
  border-color: #E38800;
}

.btn-warning:hover, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
  background-color: #ffa800;
}

.btn-danger, .btn-danger:focus {
  background-color: #DF4B33;
  border-color: #CA452E;
}

.btn-danger:hover, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
  background-color: #e64d35;
}

.btn-rad {
  border-radius: 2px;
  -webkit-border-radius: 2px;
}

.btn i {
  font-size: 14px;
  margin-right: 2px;
  display: inline-block;
  min-width: 10px;
}

.btn-group-vertical {
  margin: 3px 3px;
}

/*Specific icons size*/

.btn-lg {
  padding: 12px 14px;
  font-size: 15px;
  font-weight: 300;
}

.btn-lg i {
  font-size: 18px;
}

.btn-sm {
  padding: 4px 7px;
  font-size: 12px;
}

.btn-sm i {
  font-size: 14px;
}

.btn-xs {
  padding: 2px 6px;
  font-size: 11px;
}

.btn-xs i {
  font-size: 12px;
}

.btn-shadow {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12);
}

.btn-shadow.btn-success {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.btn-shadow.btn-primary {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.btn-shadow.btn-warning {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.btn-shadow.btn-danger {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.btn-shadow.btn-info {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.btn-flat, .btn-flat:focus {
  box-shadow: none;
}

.btn-flat.btn-default {
  background: #fff;
}

.btn-flat:active.btn-default, .btn-flat.btn-default.active, .btn-flat.open .dropdown-toggle.btn-default {
  background: #f5f5f5;
}

.btn-flat:active.btn-primary, .btn-flat.btn-primary.active, .btn-flat.open .dropdown-toggle.btn-primary {
  background: #4785ea;
}

.btn-flat:active.btn-success, .btn-flat.btn-success.active, .btn-flat.open .dropdown-toggle.btn-success {
  background: #5db95d;
}

.btn-flat:active.btn-info, .btn-flat.btn-info.active, .btn-flat.open .dropdown-toggle.btn-info {
  background: #56b7d3;
}

.btn-flat:active.btn-warning, .btn-flat.btn-warning.active, .btn-flat.open .dropdown-toggle.btn-warning {
  background: #ff9600;
}

.btn-flat:active.btn-danger, .btn-flat.btn-danger.active, .btn-flat.open .dropdown-toggle.btn-danger {
  background: #d04630;
}

.btn-group-vertical > .btn {
  margin-bottom: 0 !important;
}

.btn-group-vertical > .btn:first-child {
  margin-left: 0;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}

.btn-group-vertical > .btn:last-child {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}

/*Modals*/
.modal-content {
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.modal-content > .close {
  margin-right: 10px;
  margin-top: 10px;
}

.modal-content .modal-header {
  border-bottom: 0;
}

.modal-content h4, .modal-content h4 {
  font-weight: 400;
}

.modal-content .modal-footer {
  background: #FBFBFB;
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}

/*Circle*/
.i-circle {
  border: 5px solid #F1F1F1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  height: 80px;
  width: 80px;
  display: inline-block;
  padding-top: 15px;
  margin-bottom: 7px;
}

.i-circle i {
  font-size: 34px;
  vertical-align: middle;
  color: #666;
}

.i-circle.success i {
  color: #60C060;
}

.i-circle.primary i {
  color: #4D90FD;
}

.i-circle.warning i {
  color: #FC9700;
}

.i-circle.danger i {
  color: #DA4932;
}

/*Gritter Notifications*/
#gritter-notice-wrapper {
  width: 320px;
  top: 45px;
}

.gritter-item-wrapper {
  background: url(../js/jquery.gritter/images/gritter-bg.png);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.32);
}

.gritter-top {
  background: transparent;
}

.gritter-item {
  font-family: 'Open Sans', sans-serif;
  background: transparent;
  color: #FFF;
  padding: 2px 20px 12px;
  padding-right: 35px;
  padding-left: 10px;
}

.gritter-bottom {
  background: transparent;
}

.gritter-item p {
  font-size: 12px;
  line-height: 19px;
}

.gritter-title {
  text-shadow: none;
  font-weight: 300;
  font-size: 17px;
}

.gritter-close {
  display: block !important;
  top: 0;
  right: 0;
  left: auto;
  height: 30px;
  width: 35px;
  background: transparent;
  text-indent: inherit;
}

.gritter-close:after {
  content: '×';
  position: absolute;
  color: #FFF;
  left: 10px;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.gritter-without-image, .gritter-with-image {
  padding-left: 7px;
  width: 224px;
}

.gritter-item-wrapper.clean {
  background: #FFF;
}

.gritter-item-wrapper.clean .gritter-item {
  color: #555;
}

.gritter-item-wrapper.clean .gritter-close {
  display: block !important;
  top: 0;
  right: 0;
  left: auto;
  height: 100%;
  width: 35px;

  border-left: 1px solid #258fec;
  border-top: 1px solid #52C0FF;
  background-image: -moz-linear-gradient(center top, #52AEFF 45%, #2180D3 102%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#52AEFF), to(#2180D3)); /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, #52AEFF, #2180D3); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image: -o-linear-gradient(top, #52AEFF, #2180D3); /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, #52AEFF, #2180D3);
  background-color: #3290E2;
  text-indent: inherit;
}

.gritter-item-wrapper.clean .gritter-close:after {
  content: '×';
  position: absolute;
  color: #FFF;
  top: 50%;
  left: 10px;
  font-size: 24px;
  font-weight: bold;
  margin-top: -17px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

/*Well*/
.well p:last-child {
  margin: 0;
}

/*Nano Scroller*/
.nano > .pane > .slider {
  width: 100%;
}

.jqstooltip {
  padding: 3px 10px 5px 5px;
  min-height: 25px;
  min-width: 30px;
  /*width:50px;
   height:25px!important;*/
}

/*Responsive CSS*/
@media (min-width: 1200px) {
  .sidebar .vnavigation {
    display: block !important;
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .sidebar .vnavigation {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .butstyle {
    width: 30.9%;
  }

  .butstyle:first-child {
    margin-left: 0;
  }

  .navbar-default .navbar-brand {
    background-position: 22px 11px;
    height: 50px;
    width: 90px;
  }

  .navbar-default .navbar-brand span {
    display: none;
  }

  .sidebar {
    width: 100px;
  }

  .vnavigation li {
    position: relative;
  }

  .vnavigation li a {
    text-align: center;
    padding: 15px 10px 13px;
  }

  .vnavigation li a i {
    width: 100%;
    display: block;
    font-size: 22px;
  }

  .vnavigation li ul {
    display: none;
    left: 100%;
    margin-left: -1px;
    margin-top: 0;
    top: -1px;
    z-index: 1000;
    position: absolute;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.49);
    color: #333;
    background: #1A1C20;
    padding: 5px 0;
    min-width: 160px;
  }

  .vnavigation .parent ul li a {
    text-align: left;
    padding: 7px 20px;
  }

  .vnavigation li:hover ul {
    display: block !important;
  }

  .sidebar .vnavigation {
    display: block !important;
  }

  #pcont {
    margin-left: 100px;
  }
}

@media (max-width: 767px) {
  #wrapper {
    margin-top: 0;
  }

  #pcont {
    margin-left: 0;
  }

  .mcont {
    padding: 15px;
  }

  /*nav bar*/
  .navbar {
    padding-right: 10px;
  }

  .navbar-fixed-top {
    position: relative;
    margin: 0;
  }

  /*dropdown menu*/
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #FFF;
  }

  .navbar-default .navbar-nav .dropdown-submenu > a:after {
    border-width: 0;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FFF;
  }

  .navbar-nav .dropdown-menu > li > a:hover, .navbar-nav .dropdown-menu > li > a:focus, .navbar-nav .dropdown-submenu:hover > a {
    background-color: transparent;
  }

  .navbar-nav .dropdown-submenu ul {
    display: block;
    padding-left: 20px;
  }

  .navbar-nav .dropdown-header {
    color: #FFF;
  }

  .navbar-nav .col-menu-2 > li > ul > li a {
    color: #FFF;
    padding-left: 45px;
  }

  .navbar-nav .col-menu-3 > li > ul > li a {
    color: #FFF;
    padding-left: 45px;
  }

  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus, .navbar-nav > .active > a:active {
    background: transparent !important;
    color: #FFF !important;
  }

  .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav > li > a:active {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  }

  .not-nav {
    text-align: center;
    background: #218ae1;
    border-top: 1px solid #2082d5;
    margin: 0;
  }

  .navbar-default .navbar-nav > li.button {
    float: none;
    display: inline-block;
    padding: 10px 4px;
    top: 100%;
  }

  .not-nav > li > .dropdown-menu {
    text-align: left;
  }

  .navbar-default .navbar-nav > li.button > a {

  }

  .navbar-default .navbar-nav > li.button > a > i {
    font-size: 17px;
    vertical-align: middle;
  }

  .navbar-default .navbar-nav > li.button .dropdown-menu {
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    border-top: 0;
    margin-left: -110px;
  }

  .navbar-default .navbar-nav > li.button .dropdown-menu > li > a {
    text-align: left;
  }

  .navbar-collapse {
    padding: 0 !important;
  }

  .navbar-collapse .navbar-nav {
    margin: 0;
  }

  .profile_menu {
    margin: 0;
  }

  .profile_menu .dropdown-toggle {
    padding-left: 15px;
  }

  .navbar-default .navbar-brand {
    width: auto;
  }

  .user-nav {
    margin: 7.5px -15px;
  }

  .navbar-collapse.in {
    overflow: visible;
  }

  #head-nav {
    padding: 0;
  }

  #head-nav .navbar-nav {
    padding: 0 10px;
  }

  .navbar-header {
    padding: 0 10px;
  }

  .col-menu-2 > div:first-child {
    border-right: 0;
  }

  /*end - dropdown*/
  .sidebar {
    background: none repeat scroll 0 0 #272930;
    width: 100%;
    position: relative;
    z-index: 1020;
  }

  .sidebar .toggle {
    display: block;
  }

  .sidebar .vnavigation {
    display: none;
  }

  /*Stats*/
  .butstyle {
    width: 100%;
    margin-right: 10px;
    margin-left: 0;
    max-width: 45%;
  }

  /*Forms*/
  .form-horizontal.group-border .form-group {
    padding: 5px 0 15px 0;
  }

  .form-horizontal.group-border .form-group label {
    margin-bottom: 7px;
  }

  .form-horizontal.group-border-dashed .form-group label {
    margin-bottom: 7px;
  }

  /*Buttons*/
  /*Login*/
  .wrapper.login-container {

  }

  .login-container .middle-login {
    width: 100%;
    margin-left: 0px;
    padding: 0 15px;
    left: auto;
  }
}

dd, dt {
  line-height: 3em;
}

.btn-s-xs {
  min-width: 90px;
}

.btn-s-sm {
  min-width: 100px;
}

.btn-s-md {
  min-width: 120px;
}

.btn-s-lg {
  min-width: 150px;
}

.btn-s-xl {
  min-width: 200px;
}

.dataTables_wrapper .row {
  margin-top: 0;
}

.dataTables_length {
  margin: 20px 0 0 10px;
}

.dataTables_filter {
  margin: 20px 20px 0 0;
  float: right;
  display: none;
}

.dataTables_filter input {
  margin-left: 10px;
}

.dataTables_info {
  padding: 5px 10px;
  margin-top: 20px;
  font-size: 12px;
}

.pagination {
  float: right;
  margin: 20px 20px 20px 0;
}

.pagination li a {
  padding: 2px 8px;
  font-size: 12px;
}

.dt-buttons {
  padding: 5px;
  background-color: #DDD;
}

a.dt-button.buttons-html5 {
  width: 50px;
  display: inline-block;
  text-align: center;
  background-color: #337ab7;
  color: #FFF;
  font-size: 12px;
  margin-right: 2px;
  cursor: pointer;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.ui-autocomplete .ui-menu-item {
  display: block;
  padding: 2px 10px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
  cursor: pointer;
}

.ui-autocomplete .ui-menu-item.ui-state-focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}

.well .form-inline .form-group input {
  width: 125px;
}