<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" th:href="@{/images/favicon.png}"/>

  <title>RB Heater</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css' />

  <!-- Bootstrap core CSS -->
  <link  th:href="@{/css/bootstrap.css}"  rel="stylesheet" />
  <link rel="stylesheet" th:href="@{/fonts/font-awesome-4.4.0/css/font-awesome.min.css}" />

  <!-- Custom styles for this template -->
  <link th:href="@{/css/app.css}" rel="stylesheet"/>
  <link th:href="@{/css/bootstrap-datetimepicker.css}" rel="stylesheet"/>
  <link th:href="@{/css/animate.css}" rel="stylesheet"/>
</head>
<body>

<!-- Fixed navbar -->
<div th:fragment="head-nav" id="head-nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="fa fa-gear"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right user-nav">
        <li class="dropdown profile_menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span sec:authentication="name"></span> &nbsp;<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li class="divider"></li>
            <li><a href="/logout">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>

</body>
</html>
