<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>

<div th:replace="header :: head-nav"></div>

<div id="wrapper">
  <div th:replace="menu :: menu('dashboard')"></div>
  <div class="container-fluid" id="pcont">
    <div class="mcont">
      <div class="row dash-cols">
        <div class="col-sm-3">
          <div class="block">
            <div class="header">
              <h2><i class="fa fa-envelope"></i>Quotations <strong class="pull-right"></strong></h2>
            </div>
            <div class="content no-padding">
              <div class="fact-data text-center">
                <h2 th:text="${quotationLength}"></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="block">
            <div class="header">
              <h2><i class="fa fa-wrench"></i>Productions <strong class="pull-right"></strong></h2>
            </div>
            <div class="content no-padding">
              <div class="fact-data text-center">
                <h2 th:text="${productionLength}"></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="block">
            <div class="header">
              <h2><i class="fa fa-truck"></i>Deliveries <strong class="pull-right"></strong></h2>
            </div>
            <div class="content no-padding">
              <div class="fact-data text-center">
                <h2 th:text="${deliveryLength}"></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="block">
            <div class="header">
              <h2><i class="fa fa-archive"></i>Collections <strong class="pull-right"></strong></h2>
            </div>
            <div class="content no-padding">
              <div class="fact-data text-center">
                <h2 th:text="${collectionLength}"></h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">

          <!-- Quotation -->
          <h3 class="spacer-bottom-sm"><i class="fa fa-envelope"></i> Quotations</h3>
          <div class="block-flat no-padding">
            <div class="content">
              <table class="no-border blue">
                <thead class="no-border">
                <tr>
                  <th><strong>Date Created</strong></th>
                  <th><strong>Quotation #</strong></th>
                  <th><strong>Customer</strong></th>
                  <th><strong>Item Description</strong></th>
                  <th><strong>Target Date</strong></th>
                  <th><strong>Status</strong></th>
                </tr>
                </thead>
                <tbody class="no-border-x no-border-y">
                  <tr th:each="q : ${quotation}">
                    <td th:text="${q.createdDateTime}"></td>
                    <td th:text="${q.ticketNumber}"></td>
                    <td th:text="${q.customerName}"></td>
                    <td th:text="${q.itemDescription}"></td>
                    <td th:text="${q.targetDate}"></td>
                    <td th:text="${q.status}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!--/. Quotation -->


          <!-- Production -->
          <h3 class="spacer-bottom-sm"><i class="fa fa-wrench"></i> Productions</h3>
          <div class="block-flat no-padding">
            <div class="content">
              <table class="no-border blue">
                <thead class="no-border">
                <tr>
                  <th><strong>JO Date</strong></th>
                  <th><strong>JO #</strong></th>
                  <th><strong>PO #</strong></th>
                  <th><strong>Customer</strong></th>
                  <th><strong>Item Description</strong></th>
                  <th><strong>Target Date</strong></th>
                  <th><strong>Priority</strong></th>
                  <th><strong>Status</strong></th>
                </tr>
                </thead>
                <tbody class="no-border-x no-border-y">
                <tr th:each="p : ${production}">
                  <td th:text="${p.dateTimeCreated}"></td>
                  <td th:text="${p.jobOrderNumber}"></td>
                  <td th:text="${p.purchaseNumber}"></td>
                  <td th:text="${p.customerName}"></td>
                  <td th:text="${p.description}"></td>
                  <td th:text="${p.targetDate}"></td>
                  <td th:text="${p.priority}"></td>
                  <td th:text="${p.processStatus}"></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!--/. Production -->

          <!-- Delivery -->
          <h3 class="spacer-bottom-sm"><i class="fa fa-truck"></i> Deliveries</h3>
          <div class="block-flat no-padding">
            <div class="content">
              <table class="no-border blue">
                <thead class="no-border">
                <tr>
                  <th><strong>Date Created</strong></th>
                  <th><strong>Ticket #</strong></th>
                  <th><strong>Customer</strong></th>
                  <th><strong>Item Description</strong></th>
                  <th><strong>Target Date</strong></th>
                  <th><strong>Status</strong></th>
                </tr>
                </thead>
                <tbody class="no-border-x no-border-y">
                <tr th:each="d : ${delivery}">
                  <td th:text="${d.dateTimeCreated}"></td>
                  <td th:text="${d.ticketNumber}"></td>
                  <td th:text="${d.customerName}"></td>
                  <td th:text="${d.description}"></td>
                  <td th:text="${d.targetDate}"></td>
                  <td th:text="${d.processStatus}"></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!--/. Delivery -->

          <!-- Collection -->
          <h3 class="spacer-bottom-sm"><i class="fa fa-archive"></i> Collections</h3>
          <div class="block-flat no-padding">
            <div class="content">
              <table class="no-border blue">
                <thead class="no-border">
                <tr>
                  <th><strong>Date Created</strong></th>
                  <th><strong>Ticket #</strong></th>
                  <th><strong>Invoice Date</strong></th>
                  <th><strong>Customer</strong></th>
                  <th><strong>Item Description</strong></th>
                  <th><strong>Target Date</strong></th>
                  <th><strong>Status</strong></th>
                  <th><strong>For Collection</strong></th>
                </tr>
                </thead>
                <tbody class="no-border-x no-border-y">
                <tr th:each="c : ${collection}">
                  <td th:text="${c.dateTimeCreated}"></td>
                  <td th:text="${c.invoiceDate}"></td>
                  <td th:text="${c.ticketNumber}"></td>
                  <td th:text="${c.customerName}"></td>
                  <td th:text="${c.description}"></td>
                  <td th:text="${c.targetDate}"></td>
                  <td th:text="${c.processStatus}"></td>
                  <td th:text="${c.forCollection} ? 'For Collection' : 'Not Yet'"></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!--/. Collection -->

        </div>
      </div>
    </div>
  </div>

</div>

<div th:replace="footer :: foot"></div>
</body>
</html>
