<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="menu (page)" class="sidebar">
  <div class="toggle"><i class="fa fa-bars"></i></div>
  <div class="navblock">
    <ul class="vnavigation">
      <li><a th:href="@{/dashboard}" th:class="${page == 'dashboard'}? 'active'"><i class="fa fa-home"></i>Dashboard</a></li>
      <li sec:authorize="hasRole('ROLE_QUOTATION_VIEW')"><a th:href="@{/quotation/search}" th:class="${page == 'quotation'}? 'active'"><i class="fa fa-envelope"></i>Quotation</a></li>
      <li sec:authorize="hasRole('ROLE_PRODUCTION_VIEW')"><a th:href="@{/production/search}" th:class="${page == 'production'}? 'active'"><i class="fa fa-wrench"></i>Production</a></li>
      <li sec:authorize="hasRole('ROLE_DELIVERY_VIEW')"><a th:href="@{/delivery/search}" th:class="${page == 'delivery'}? 'active'"><i class="fa fa-truck"></i>Delivery</a></li>
      <li sec:authorize="hasRole('ROLE_COLLECTION_VIEW')"><a th:href="@{/collection/search}" th:class="${page == 'collection'}? 'active'"><i class="fa fa-archive"></i>Collection</a></li>
      <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/user/list}" th:class="${page == 'user_management'}? 'active'"><i class="fa fa-users"></i>User Management</a></li>
      <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/report}"  th:class="${page == 'report'}? 'active'" ><i class="fa fa-bar-chart-o"></i>Reports</a></li>
    </ul>
  </div>
</div>

</body>
</html>