<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>

<div th:replace="header :: head-nav"></div>

<div id="wrapper">
  <div th:replace="menu :: menu('collection')"></div>

  <div class="container-fluid" id="pcont">

    <div class="page-head clearfix">
      <h3 class="pull-left">Collections</h3>
      <a sec:authorize="hasRole('ROLE_COLLECTION_VIEW')" th:href="@{/collection/search}" class="btn btn-warning pull-right"><i class="fa fa-list"></i> Collections List</a>
    </div>

    <div class="mcont">

      <div class="row">
        <div class="col-sm-12">

          <div class="block-flat" th:object="${collection}">
            <div class="header">
              <h3>Collection #<span th:text="${collection.id}"></span></h3>
            </div>
            <div class="content">
              <dl class="dl-horizontal">
                <dt>Ticket #</dt>
                <dd th:text="${collection.ticketNumber}"></dd>
                <dt>Date Created</dt>
                <dd th:text="${collection.dateTimeCreated}"></dd>
                <dt>Sales Invoice #</dt>
                <dd th:text="${collection.invoiceNumber}"></dd>
                <dt>Invoice Date</dt>
                <dd th:text="${collection.invoiceDate}"></dd>
                <dt>Invoice Amount</dt>
                <dd th:text="${#numbers.formatDecimal(collection.amount, 0, 'COMMA', 2, 'POINT')}"></dd>
                <dt>Payment Terms</dt>
                <dd th:text="*{paymentTerm == 'NEW_CUSTOMER'} ? '30 days - New Customer' : '60 days - Old Customer'"></dd>
                <dt>Target Date</dt>
                <dd th:text="${collection.targetDate}"></dd>
                <dt>Customer Name</dt>
                <dd th:text="${collection.customerName}"></dd>
                <dt>Item Description</dt>
                <dd><pre th:text="${collection.description}"></pre></dd>
                <dt>Status</dt>
                <dd th:text="${collection.processStatus}"></dd>
                <dt>Collection</dt>
                <dd th:text="*{forCollection} ? 'For Collection' : 'Not Yet'"></dd>
                </dl>
            </div>
            <div class="form-group clearfix">
              <div class="col-sm-12 text-center">
                <a th:href="@{/collection/search}" class="btn btn-default btn-s-md"><i class="fa fa-arrow-left"></i> Back to List</a>
                <a sec:authorize="hasRole('ROLE_COLLECTION_EDIT')" th:href="@{'/collection/edit/'+${collection.id}}" class="btn btn-danger btn-s-md"><i class="fa fa-pencil"></i> Edit</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<div th:replace="footer :: foot"></div>
</body>
</html>
