<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>

<div th:replace="header :: head-nav"></div>

<div id="wrapper">
  <div th:replace="menu :: menu('collection')"></div>

  <div class="container-fluid" id="pcont">

    <div class="page-head clearfix">
      <h3 class="pull-left">Collections</h3>
      <a th:href="@{/collection/search}" class="btn btn-warning pull-right"><i class="fa fa-list"></i> Collection List</a>
    </div>

    <div class="mcont">
      <div class="row">
        <div class="col-sm-12">
          <div class="block-flat">
            <div class="header">
              <h4>Collection Form</h4>
            </div>
            <div class="content">
              <form class="form-horizontal group-border-dashed" th:object="${collection}"
                    th:action="@{/collection/save}" method="POST" th:autocomplete="off">
                <input type="hidden" th:field="*{id}" th:value="${collection.id}"/>
                <input type="hidden" th:field="*{version}" th:value="${collection.version}"/>
                <div id="ticket-number" class="form-group hide">
                  <label class="col-sm-3 control-label">Ticket #</label>
                  <div class="col-sm-3">
                    <p class="form-control-static" th:text="${collection.ticketNumber}"></p>
                    <input th:field="*{ticketNumber}" th:value="${collection.ticketNumber}" type="hidden"
                           class="form-control"/>
                  </div>
                </div>
                <div id="date-created" class="form-group hide">
                  <label class="col-sm-3 control-label">Date Created</label>
                  <div class="col-sm-3">
                    <p class="form-control-static" th:text="${collection.dateTimeCreated}"></p>
                  </div>
                </div>
                <div class="form-group req">
                  <label class="col-sm-3 control-label">Sales Invoice #</label>
                  <div class="col-sm-3">
                    <input type="text" th:field="*{invoiceNumber}" th:readonly="${collection.editable}"  th:value="${collection.invoiceNumber}"
                           class="form-control" th:required="true"/>
                  </div>
                </div>
                <div class="form-group req">
                  <label class="col-sm-3 control-label">Sales Invoice Date</label>
                  <div class="col-sm-3">
                    <input th:field="*{invoiceDate}" th:readonly="${collection.editable}"  th:value="${collection.invoiceDate}" type="text"
                           class="form-control datetimepicker" th:required="true"/>
                  </div>
                </div>
                <div class="form-group req">
                  <label class="col-sm-3 control-label">Sales Invoice Amount</label>
                  <div class="col-sm-3">
                    <input  type="number" th:field="*{amount}" th:readonly="${collection.processStatus == 'COMPLETED'}"  th:value="${collection.amount}"
                           class="form-control" th:required="true"/>
                  </div>
                </div>
                <div class="form-group req">
                  <label class="col-sm-3 control-label">Payment Terms</label>
                  <div class="col-sm-3">
                    <select class="form-control" th:required="true" th:readonly="${collection.processStatus == 'COMPLETED'}"  th:field="*{paymentTerm}">
                      <option value="">- Select Payment Terms -</option>
                      <option value="NEW_CUSTOMER">30 days - New Customer</option>
                      <option value="OLD_CUSTOMER">60 days - Old Customer</option>
                    </select>
                  </div>
                </div>
                <div class="form-group req">
                  <label class="col-sm-3 control-label">Target Date</label>
                  <div class="col-sm-3">
                    <input th:field="*{targetDate}" th:value="${collection.targetDate}" th:readonly="${collection.processStatus == 'COMPLETED'}"  type="text"
                           class="form-control datetimepicker" th:required="true" readonly="readonly"/>
                  </div>
                </div>
                <div class="form-group req">
                  <label class="col-sm-3 control-label">Customer Name</label>
                  <div class="col-sm-4">
                    <input th:field="*{customerName}" th:readonly="${collection.processStatus == 'COMPLETED'}"   th:value="${collection.customerName}" type="text"
                           class="form-control" th:required="true"/>
                  </div>
                </div>
                <div class="form-group req">
                  <label class="col-sm-3 control-label">Item Description</label>
                  <div class="col-sm-4">
                    <textarea th:field="*{description}" th:readonly="${collection.processStatus == 'COMPLETED'}"  th:value="${collection.description}"
                              class="form-control" th:required="true"></textarea>
                  </div>
                  <div class="col-sm-1 no-padding">
                    <button id="insert-diameter" class="btn btn-link btn-xs btn-default" type="button">&#216;</button>
                  </div>
                </div>
                <div class="form-group req">
                  <label class="col-sm-3 control-label">Status</label>
                  <div class="col-sm-6">
                    <label class="radio-inline">
                      <input th:field="*{processStatus}" th:disabled="${collection.processStatus == 'COMPLETED'}"  th:value="PENDING" type="radio"/>
                      Pending</label>
                    <label class="radio-inline">
                      <input th:field="*{processStatus}" th:disabled="${collection.processStatus == 'COMPLETED'}"  th:value="COMPLETED" type="radio"/>
                      Completed</label>
                  </div>
                </div>
                <div class="form-group req">
                  <label class="col-sm-3 control-label">Collection</label>
                  <div class="col-sm-6">
                    <label class="radio-inline">
                      <input th:field="*{forCollection}" th:disabled="${collection.processStatus == 'COMPLETED'}" th:value="false" type="radio"/>
                      Not For Collection</label>
                    <label class="radio-inline">
                      <input th:field="*{forCollection}" th:disabled="${collection.processStatus == 'COMPLETED'}"   th:value="true" type="radio"/>
                      For Collection</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-9">
                    <button sec:authorize="hasAnyRole('ROLE_COLLECTION_ADD,ROLE_COLLECTION_EDIT')" th:disabled="${collection.processStatus == 'COMPLETED'}" type="submit" class="btn btn-danger btn-s-md"><i class="fa fa-floppy-o"></i> Save Collection</button>
                    <a th:href="@{/collection/search}" class="btn btn-default btn-s-sm"><i class="fa fa-ban"></i> Cancel</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div th:replace="footer :: foot"></div>
<script th:inline="javascript">
  $(function () {
    $('.datetimepicker').datetimepicker({
      format: 'MM-DD-YYYY',
      useCurrent: true,
      showClear: true
    });
    if (![[${collection.id}]]) {
      $('#processStatus1').prop('checked', 'checked');
    } else {
      $('#date-created, #ticket-number').removeClass('hide');
    }
    $('#invoiceDate').on('dp.change', function() {
      computeTargetDate();
    });
    $('#paymentTerm').on('change', function() {
      computeTargetDate();
    });
    function computeTargetDate() {
      /*<![CDATA[*/
      if ($('#paymentTerm').val() && $('#invoiceDate').val()) {
        var paymentTerm = $('#paymentTerm').val() == 'NEW_CUSTOMER' ? 30 : 60;
        var targetDate = Date.create($('#invoiceDate').val()).addDays(paymentTerm);
        $('#targetDate').val(targetDate.format('{MM}-{dd}-{yyyy}'));
      }/*]]>*/
    }
    $("#insert-diameter").on('click', function() {
      var caretPos = document.getElementById('description').selectionStart;
      var textAreaTxt = $('#description').val();
      /*<![CDATA[*/
      $("#description").val(textAreaTxt.substring(0, caretPos) + $('<div>').html('&#216;').text() + textAreaTxt.substring(caretPos));
      /*]]>*/
      $("#description").focus();
    });
  });
</script>

</body>
</html>
