<!DOCTYPE html>
<html lang="en">
<head th:replace="header :: head"></head>
<body>

<div th:replace="header :: head-nav"></div>

<div id="wrapper">
  <div th:replace="menu :: menu('collection')"></div>

  <div class="container-fluid" id="pcont">

    <div class="page-head clearfix">
      <h3 class="pull-left">Collections</h3>
      <a sec:authorize="hasRole('ROLE_COLLECTION_ADD')" th:href="@{/collection/new}" class="btn btn-success pull-right"><i class="fa fa-envelope"></i> New Collection</a>
    </div>

    <div class="mcont">

      <div class="row">
        <div class="col-sm-12">
          <div class="block no-margin-bottom">
            <div class="content no-margin-bottom well">
              <div class="form-inline">
                <div class="form-group no-margin-top">
                  <input type="text" class="form-control" id="invoice-number" placeholder="Invoice #"/>
                </div>
                <div class="form-group no-margin-top">
                  <input type="text" class="form-control" id="customer" placeholder="Customer"/>
                </div>
                <div class="form-group no-margin-top">
                  <input type="text" class="form-control" id="description" placeholder="Description"/>
                </div>
                <div class="form-group no-margin-top">
                  <input type="text" class="form-control datetimepicker" id="target-from" placeholder="Target Date From"/>
                </div>
                <div class="form-group no-margin-top">
                  <input type="text" class="form-control datetimepicker" id="target-to" placeholder="Target Date To"/>
                </div>
                <div class="form-group no-margin-top">
                  <button id="search-collection-btn" type="button" class="btn btn-primary no-margin-bottom"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">

          <div class="block-flat no-padding">
            <div class="content">
              <table id="collection-list" class="no-border blue">
                <thead class="no-border">
                <tr>
                  <th><strong>Date Created</strong></th>
                  <th><strong>Invoice #</strong></th>
                  <th><strong>Customer</strong></th>
                  <th><strong>Item Description</strong></th>
                  <th><strong>Target Date</strong></th>
                  <th><strong>Status</strong></th>
                  <th><strong>For Collection</strong></th>
                  <th class="text-center"><strong>Actions</strong></th>
                </tr>
                </thead>
                <tbody class="no-border-x no-border-y"></tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<div th:replace="footer :: foot"></div>
<script th:inline="javascript">
  $(function () {
    $('.datetimepicker').datetimepicker({
      format: 'MM-DD-YYYY',
      useCurrent: false,
      showClear: true
    });
    var collectionTable = $('#collection-list').dataTable( {
      "bProcessing": true,
      "bServerSide": true,
      "sServerMethod": "GET",
      "lengthMenu": [ [10,50, 100, -1], [10, 50, 100, "All"] ],
      "sAjaxSource": "/collection/ajax/search",
      "fnServerParams": function (aoData) {
        aoData.push({ "name": "invoiceNumber", "value": $("#invoice-number").val()});
        aoData.push({ "name": "clientName", "value": $("#customer").val()});
        aoData.push({ "name": "description", "value": $('#description').val()});
        aoData.push({ "name": "startDate", "value": $('#target-from').val()});
        aoData.push({ "name": "endDate", "value": $('#target-to').val()});
      },
      "columns":[
        {"data":"dateTimeCreated"},
        {"data":"invoiceNumber"},
        {"data":"customerName"},
        {"data":"description", "className":"pre"},
        {"data":"targetDate"},
        {"data":"processStatus"},
        {"data":"forCollection"}
      ],
      dom: 'Blfrtip',
      buttons: [
        'copyHtml5',
        {
          extend: 'pdfHtml5',
          download: 'open',
          orientation: 'landscape'
        }
      ],
      "aoColumnDefs": [{
        "targets": 0,
        "data": "dateTimeCreated",
        "mRender": function (data) {
          return Date.create(data).format('{MM}-{dd}-{yyyy}');
        }
      },{
        "targets": 7,
        "className": 'text-center',
        "mRender": function (data, type, full) {
          var view = [[@{/collection/view/}]] + full.id;
          var edit = [[@{/collection/edit/}]] + full.id;
          var editable = full.editable ? '' : 'hide';
          var deleteUri = '/delete/COLLECTION/'+ full.id;
          return '<a sec:authorize="hasRole('ROLE_COLLECTION_VIEW')" class="label label-primary" href="' + view + '"><i class="fa fa-file-text-o"></i></a> ' +
          '<a sec:authorize="hasRole('ROLE_COLLECTION_EDIT')" class="label label-warning" href="' + edit + '"><i class="fa fa-pencil"></i></a> ' +
          '<a sec:authorize="hasRole('ROLE_COLLECTION_EDIT')" class="delete-ticket label label-danger" href="' + deleteUri + '"><i class="fa fa-remove"></i></a> ';

        }
      },{
        "targets": 4,
        "data": "targetDate",
        "mRender": function (data) {
          return Date.create(data).format('{MM}-{dd}-{yyyy}');
        }
      }
      ],
    });

    $("#search-collection-btn").click(function() {
      collectionTable.fnDraw();
    });

    $( "#customer" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "/company/search",
          dataType: "json",
          data: {term: request.term},
          success: function (data) {
            response ($.map(data, function (customer) {
              return {
                label: customer.name,
                value: customer.name
              }
            }))
          }
        });
      },
      minLength: 2,
      change: function (event, ui) {
        if(!ui.item){
          $("#customer").val("");
        }
      }
    });

    $( document ).on( 'click', '.delete-ticket', function(e) {
      e.preventDefault();
      var url = $(this).attr('href');
      deleteTicket(collectionTable,url);
    });

  });
</script>

</body>
</html>
